In [21]:
#Dependencies 
import pandas as pd 
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import wikipedia
import requests
from bs4 import BeautifulSoup as bs

In [40]:
s = requests.Session()
url = "https://en.wikipedia.org/wiki/2019_Major_League_Baseball_season"

In [23]:
response = s.get(url, timeout=10)
response

In [41]:
soup = bs(response.text, 'html.parser')

In [80]:
# response.text

In [42]:
# # testing scraping
title = soup.find(id="firstHeading")
print(title.string)

2019 Major League Baseball season

In [100]:
attendance_table = soup.find('table', {'class': 'wikitable sortable'})
# attendance_table()

In [102]:
text_items = attendance_table.findAll(text=True)
no_footnotes = [text for text in text_items if text[0] != '[']
puretext = ''.join(no_footnotes)
puretext

'\n\nTeam Name\n\nWins\n\n%±\n\nHome attendance\n\n%±\n\nPer Game\n\nEst. Payroll\n\n%±\n\n\nLos Angeles Dodgers\n\n106\n\n15.2%\n\n3,974,309\n\n3.0%\n\n49,066\n\n$193,553,333\n\n17.5%\n\n\nSt. Louis Cardinals\n\n91\n\n3.4%\n\n3,480,393\n\n2.3%\n\n42,968\n\n$161,120,267\n\n2.2%\n\n\nNew York Yankees\n\n103\n\n3.0%\n\n3,304,404\n\n-5.1%\n\n40,795\n\n$228,442,421\n\n42.1%\n\n\nChicago Cubs\n\n84\n\n-11.6%\n\n3,094,865\n\n-2.7%\n\n38,208\n\n$217,805,215\n\n6.1%\n\n\nLos Angeles Angels\n\n72\n\n-10.0%\n\n3,023,012\n\n0.1%\n\n37,321\n\n$177,345,250\n\n6.3%\n\n\nColorado Rockies\n\n71\n\n-22.0%\n\n2,993,244\n\n-0.8%\n\n36,954\n\n$145,348,500\n\n6.4%\n\n\nMilwaukee Brewers\n\n89\n\n-7.3%\n\n2,923,333\n\n2.5%\n\n36,091\n\n$128,842,900\n\n17.9%\n\n\nBoston Red Sox\n\n84\n\n-22.2%\n\n2,915,502\n\n0.7%\n\n35,994\n\n$218,978,142\n\n-1.5%\n\n\nHouston Astros\n\n107\n\n3.9%\n\n2,857,367\n\n-4.1%\n\n35,276\n\n$166,042,500\n\n-3.9%\n\n\nPhiladelphia Phillies\n\n81\n\n1.3%\n\n2,727,421\n\n26.4%\n\n33,672\n\n$141,786,962\n\n51.0%\n\n\nSan Francisco Giants\n\n77\n\n5.5%\n\n2,707,760\n\n-14.2%\n\n33,429\n\n$175,550,753\n\n-13.1%\n\n\nAtlanta Braves\n\n97\n\n7.8%\n\n2,654,920\n\n3.9%\n\n32,777\n\n$133,186,667\n\n15.0%\n\n\nNew York Mets\n\n86\n\n11.7%\n\n2,442,532\n\n9.8%\n\n30,155\n\n$154,837,230\n\n-4.1%\n\n\nSan Diego Padres\n\n70\n\n6.1%\n\n2,396,399\n\n10.5%\n\n29,585\n\n$90,260,767\n\n-3.8%\n\n\nMinnesota Twins\n\n101\n\n29.5%\n\n2,303,299\n\n17.6%\n\n28,436\n\n$113,758,333\n\n3.2%\n\n\nWashington Nationals\n\n93\n\n13.4%\n\n2,259,781\n\n-10.7%\n\n27,899\n\n$203,016,595\n\n7.5%\n\n\nArizona Diamondbacks\n\n85\n\n3.7%\n\n2,135,510\n\n-4.8%\n\n26,364\n\n$124,016,266\n\n-8.0%\n\n\nTexas Rangers\n\n78\n\n16.4%\n\n2,132,994\n\n1.2%\n\n26,333\n\n$104,433,499\n\n-1.6%\n\n\nCincinnati Reds\n\n75\n\n11.9%\n\n1,809,075\n\n11.0%\n\n22,334\n\n$109,737,499\n\n16.0%\n\n\nSeattle Mariners\n\n68\n\n-23.6%\n\n1,791,109\n\n-22.1%\n\n22,112\n\n$126,874,600\n\n-19.2%\n\n\nToronto Blue Jays\n\n67\n\n-8.2%\n\n1,750,144\n\n-24.7%\n\n21,607\n\n$64,680,671\n\n-57.4%\n\n\nCleveland Indians\n\n93\n\n2.2%\n\n1,738,642\n\n-9.8%\n\n21,465\n\n$151,257,783\n\n5.5%\n\n\nOakland Athletics\n\n97\n\n0.0%\n\n1,670,734\n\n6.2%\n\n20,626\n\n$102,935,833\n\n47.3%\n\n\nChicago White Sox\n\n72\n\n16.1%\n\n1,649,775\n\n2.5%\n\n20,622\n\n$80,846,333\n\n7.7%\n\n\nDetroit Tigers\n\n47\n\n-26.6%\n\n1,501,430\n\n-19.1%\n\n18,536\n\n$100,618,500\n\n-9.8%\n\n\nPittsburgh Pirates\n\n69\n\n-15.9%\n\n1,491,439\n\n1.8%\n\n18,413\n\n$72,915,501\n\n-17.3%\n\n\nKansas City Royals\n\n59\n\n1.7%\n\n1,479,659\n\n-11.1%\n\n18,267\n\n$98,183,242\n\n3.1%\n\n\nBaltimore Orioles\n\n54\n\n14.9%\n\n1,307,807\n\n-16.4%\n\n16,146\n\n$82,696,100\n\n-41.6%\n\n\nTampa Bay Rays\n\n96\n\n6.7%\n\n1,178,735\n\n2.1%\n\n14,552\n\n$56,071,767\n\n21.9%\n\n\nMiami Marlins\n\n57\n\n-9.5%\n\n811,302\n\n0.0%\n\n10,016\n\n$74,683,643\n\n-13.7%\n'

In [85]:
# # row_headers = attendance_table.findAll(lambda tag: tag.name=='th')
# row_headers

In [84]:
# # header = [string.rstrip() for th in rows[0].find_all('th')]
# full_table = attendance_table.findAll(lambda tag: tag.name=='tr')
# print(full_table)
# # print(soup.get_text())

In [83]:
# c1=[]
# c2=[]
# c3=[]
# c4=[]
# c5=[]
# c6=[]
# c7=[]
# c8=[]

In [82]:


# for row in attendance_table.findAll("tr"):
#     cells = row.findAll('td')
#     if len(cells)==7:
#         c1.append([0])
#         c2.append([1])
#         c3.append([2])
#         c4.append([3])
#         c5.append([4])
#         c6.append([5])
#         c7.append([6])
                  
# print(row)

In [58]:
url

'https://en.wikipedia.org/wiki/2019_Major_League_Baseball_season'

In [106]:
table=soup.find('table', class_='sortable')
table_rows=table.findAll('tr')
all_data=[]
for each_row in table_rows: 
    try: 
        all_data.append(each_row.findAll('td').text)
    except: 
        pass
all_data

TypeError: find() takes no keyword arguments

In [78]:
# table

In [79]:
# table.findall('tbody')

In [104]:
# import pandas as pd
tables=pd.read_html(url)
for idx, each_table in enumerate(tables): 
    print(idx)
    print(each_table.columns)

0
Index(['2019 MLB season', '2019 MLB season.1'], dtype='object')
1
Int64Index([0, 1, 2, 3, 4, 5, 6], dtype='int64')
2
Index(['vteAL East', 'W', 'L', 'Pct.', 'GB', 'Home', 'Road'], dtype='object')
3
Index(['vteAL Central', 'W', 'L', 'Pct.', 'GB', 'Home', 'Road'], dtype='object')
4
Index(['vteAL West', 'W', 'L', 'Pct.', 'GB', 'Home', 'Road'], dtype='object')
5
Index(['vteNL East', 'W', 'L', 'Pct.', 'GB', 'Home', 'Road'], dtype='object')
6
Index(['vteNL Central', 'W', 'L', 'Pct.', 'GB', 'Home', 'Road'], dtype='object')
7
Index(['vteNL West', 'W', 'L', 'Pct.', 'GB', 'Home', 'Road'], dtype='object')
8
Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
            19],
           dtype='int64')
9
Index(['Team', 'Former GM', 'Reason for leaving', 'New GM', 'Notes'], dtype='object')
10
Index(['Date', 'Team', 'Former GM', 'Reason for leaving', 'New GM', 'Notes'], dtype='object')
11
Index(['Team', 'Former manager', 'Interim manager', 'Reason for leaving',
       'New Manager', 'Notes'],
      dtype='object')
12
Index(['Team', 'Former manager', 'Interim manager', 'Reason for leaving',
       'New manager', 'Notes'],
      dtype='object')
13
Int64Index([0, 1, 2], dtype='int64')
14
Index(['Stat', 'Player', 'Total'], dtype='object')
15
Index(['Stat', 'Player', 'Total'], dtype='object')
16
Int64Index([0, 1, 2], dtype='int64')
17
Index(['Stat', 'Player', 'Total'], dtype='object')
18
Index(['Stat', 'Player', 'Total'], dtype='object')
19
MultiIndex([('Baseball Writers' Association of America Awards', ...),
            ('Baseball Writers' Association of America Awards', ...),
            ('Baseball Writers' Association of America Awards', ...),
            ('Baseball Writers' Association of America Awards', ...),
            ('Baseball Writers' Association of America Awards', ...),
            ('Baseball Writers' Association of America Awards', ...),
            ('Baseball Writers' Association of America Awards', ...),
            ('Baseball Writers' Association of America Awards', ...),
            ('Baseball Writers' Association of America Awards', ...)],
           )
20
MultiIndex([('All-MLB First Team',           'Position'),
            ('All-MLB First Team',      'Player (Team)'),
            ('All-MLB First Team', 'Unnamed: 2_level_1'),
            ('All-MLB First Team', 'Unnamed: 3_level_1'),
            ('All-MLB First Team', 'Unnamed: 4_level_1'),
            ('All-MLB First Team', 'Unnamed: 5_level_1'),
            ('All-MLB First Team', 'Unnamed: 6_level_1'),
            ('All-MLB First Team', 'Unnamed: 7_level_1'),
            ('All-MLB First Team', 'Unnamed: 8_level_1')],
           )
21
MultiIndex([('Fielding Bible Awards',           'Position'),
            ('Fielding Bible Awards',             'Player'),
            ('Fielding Bible Awards', 'Unnamed: 2_level_1'),
            ('Fielding Bible Awards', 'Unnamed: 3_level_1'),
            ('Fielding Bible Awards', 'Unnamed: 4_level_1'),
            ('Fielding Bible Awards', 'Unnamed: 5_level_1'),
            ('Fielding Bible Awards', 'Unnamed: 6_level_1'),
            ('Fielding Bible Awards', 'Unnamed: 7_level_1'),
            ('Fielding Bible Awards', 'Unnamed: 8_level_1')],
           )
22
Int64Index([0, 1, 2], dtype='int64')
23
Index(['Month', 'American League', 'National League'], dtype='object')
24
Index(['Month', 'American League', 'National League'], dtype='object')
25
Index(['Month', 'American League', 'National League'], dtype='object')
26
Index(['Team Name', 'Wins', '%±', 'Home attendance', '%±.1', 'Per Game',
       'Est. Payroll', '%±.2'],
      dtype='object')
27
Index(['Team', 'Special occasion'], dtype='object')
28
Int64Index([0, 1], dtype='int64')
29
Index(['vte2019 MLB season by team', 'vte2019 MLB season by team.1'], dtype='object')
30
Int64Index([0, 1], dtype='int64')
31
Int64Index([0, 1], dtype='int64')
32
Int64Index([0, 1], dtype='int64')
33
Index(['vteMajor League Baseball seasons', 'vteMajor League Baseball seasons.1'], dtype='object')
34
Int64Index([0, 1], dtype='int64')
35
Int64Index([0, 1], dtype='int64')
36
Index(['vte2019 Major League Baseball postseason', 'vte2019 Major League Baseball postseason.1'], dtype='object')

In [230]:
mlb_attendance = tables[26]

In [72]:
# d = dict([(x,0) for x in full_table])
# d

In [73]:
# d['Team Name'] = c1
# d['Wins'] = c2
# d['Percent change'] = c3
# d['Home attendance'] = c4
# d['Average Home Attendance Per Game'] = c5
# d['Est. Payroll'] = c6

In [74]:
# print(d)

In [235]:
mlb_attendance = pd.DataFrame(mlb_attendance)
mlb_attendance

,Team Name,Wins,%±,Home attendance,%±.1,Per Game,Est. Payroll,%±.2
0,Los Angeles Dodgers,106,15.2%,3974309,3.0%,49066,"$193,553,333",17.5%
1,St. Louis Cardinals,91,3.4%,3480393,2.3%,42968,"$161,120,267",2.2%
2,New York Yankees,103,3.0%,3304404,-5.1%,40795,"$228,442,421",42.1%
3,Chicago Cubs,84,-11.6%,3094865,-2.7%,38208,"$217,805,215",6.1%
4,Los Angeles Angels,72,-10.0%,3023012,0.1%,37321,"$177,345,250",6.3%
5,Colorado Rockies,71,-22.0%,2993244,-0.8%,36954,"$145,348,500",6.4%
6,Milwaukee Brewers,89,-7.3%,2923333,2.5%,36091,"$128,842,900",17.9%
7,Boston Red Sox,84,-22.2%,2915502,0.7%,35994,"$218,978,142",-1.5%
8,Houston Astros,107,3.9%,2857367,-4.1%,35276,"$166,042,500",-3.9%
9,Philadelphia Phillies,81,1.3%,2727421,26.4%,33672,"$141,786,962",51.0%
10,San Francisco Giants,77,5.5%,2707760,-14.2%,33429,"$175,550,753",-13.1%
11,Atlanta Braves,97,7.8%,2654920,3.9%,32777,"$133,186,667",15.0%
12,New York Mets,86,11.7%,2442532,9.8%,30155,"$154,837,230",-4.1%
13,San Diego Padres,70,6.1%,2396399,10.5%,29585,"$90,260,767",-3.8%
14,Minnesota Twins,101,29.5%,2303299,17.6%,28436,"$113,758,333",3.2%
15,Washington Nationals,93,13.4%,2259781,-10.7%,27899,"$203,016,595",7.5%
16,Arizona Diamondbacks,85,3.7%,2135510,-4.8%,26364,"$124,016,266",-8.0%
17,Texas Rangers,78,16.4%,2132994,1.2%,26333,"$104,433,499",-1.6%
18,Cincinnati Reds,75,11.9%,1809075,11.0%,22334,"$109,737,499",16.0%
19,Seattle Mariners,68,-23.6%,1791109,-22.1%,22112,"$126,874,600",-19.2%
20,Toronto Blue Jays,67,-8.2%,1750144,-24.7%,21607,"$64,680,671",-57.4%
21,Cleveland Indians,93,2.2%,1738642,-9.8%,21465,"$151,257,783",5.5%
22,Oakland Athletics,97,0.0%,1670734,6.2%,20626,"$102,935,833",47.3%
23,Chicago White Sox,72,16.1%,1649775,2.5%,20622,"$80,846,333",7.7%
24,Detroit Tigers,47,-26.6%,1501430,-19.1%,18536,"$100,618,500",-9.8%
25,Pittsburgh Pirates,69,-15.9%,1491439,1.8%,18413,"$72,915,501",-17.3%
26,Kansas City Royals,59,1.7%,1479659,-11.1%,18267,"$98,183,242",3.1%
27,Baltimore Orioles,54,14.9%,1307807,-16.4%,16146,"$82,696,100",-41.6%
28,Tampa Bay Rays,96,6.7%,1178735,2.1%,14552,"$56,071,767",21.9%
29,Miami Marlins,57,-9.5%,811302,0.0%,10016,"$74,683,643",-13.7%

In [239]:
mlb_attendance = mlb_attendance[['Team Name','Home attendance', 'Per Game']]
mlb_attendance

                Team Name  Home attendance  Per Game
0     Los Angeles Dodgers          3974309     49066
1     St. Louis Cardinals          3480393     42968
2        New York Yankees          3304404     40795
3            Chicago Cubs          3094865     38208
4      Los Angeles Angels          3023012     37321
5        Colorado Rockies          2993244     36954
6       Milwaukee Brewers          2923333     36091
7          Boston Red Sox          2915502     35994
8          Houston Astros          2857367     35276
9   Philadelphia Phillies          2727421     33672
10   San Francisco Giants          2707760     33429
11         Atlanta Braves          2654920     32777
12          New York Mets          2442532     30155
13       San Diego Padres          2396399     29585
14        Minnesota Twins          2303299     28436
15   Washington Nationals          2259781     27899
16   Arizona Diamondbacks          2135510     26364
17          Texas Rangers          2132994     26333
18        Cincinnati Reds          1809075     22334
19       Seattle Mariners          1791109     22112
20      Toronto Blue Jays          1750144     21607
21      Cleveland Indians          1738642     21465
22      Oakland Athletics          1670734     20626
23      Chicago White Sox          1649775     20622
24         Detroit Tigers          1501430     18536
25     Pittsburgh Pirates          1491439     18413
26     Kansas City Royals          1479659     18267
27      Baltimore Orioles          1307807     16146
28         Tampa Bay Rays          1178735     14552
29          Miami Marlins           811302     10016

In [241]:
##Get lat/long of each stadium 
params = {"key":  "pk.eyJ1Ijoicm95YWxwdGF5bG9yIiwiYSI6ImNqdHFoY2RqMzBmYnQzeXBhcmx4aHFwMWgifQ.3lpPLU-7q52st7zCooenSw"}
for index,row in mlb_attendance.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"
    arena = row["Team Name"]
    params["address"]=arena
    result = requests.get(base_url, params = params)
    result = result.json()
    try:
        mlb_attendance.loc[index, "lat"] = result["results"][0]["geometry"]["location"]["lat"]
        mlb_attendance.loc[index, "long"] = result["results"][0]["geometry"]["location"]["lng"]
        time.sleep(1)
    except (IndexError, KeyError):
        print("results not found...skipping")
print("Complete")

results not found...skipping
results not found...skipping
results not found...skipping
results not found...skipping
results not found...skipping
results not found...skipping
results not found...skipping
results not found...skipping
results not found...skipping
results not found...skipping
results not found...skipping
results not found...skipping
results not found...skipping
results not found...skipping
results not found...skipping
results not found...skipping
results not found...skipping
results not found...skipping
results not found...skipping
results not found...skipping
results not found...skipping
results not found...skipping
results not found...skipping
results not found...skipping
results not found...skipping
results not found...skipping
results not found...skipping
results not found...skipping
results not found...skipping
results not found...skipping
Complete