In [1]:
#Dependencies 
import pandas as pd 
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from config import gkey
import requests
import json
import time

In [2]:
data = "http://www.espn.com/nba/attendance/_/year/2019"
nba_attendance = pd.read_html(data)

In [3]:
nba_attendance=nba_attendance[0].drop([0])
nba_attendance.columns=nba_attendance.iloc[0]
nba_attendance=nba_attendance.drop([1])
nba_attendance=nba_attendance.drop(['GMS','AVG','PCT','RK'],axis=1)
nba_attendance.columns = ["team", "total_attendance"]
nba_attendance=nba_attendance.sort_values("team")
nba_attendance=nba_attendance[nba_attendance["total_attendance"]!="0"]
nba_attendance

             team total_attendance
2           76ers           838092
18          Bucks           721692
3           Bulls           823475
9       Cavaliers           793337
12        Celtics           763584
21       Clippers           710327
27      Grizzlies           607564
28          Hawks           628440
6            Heat           805264
24        Hornets           676570
15           Jazz           750546
22          Kings           700975
11         Lakers           778877
19          Magic           720024
4       Mavericks           820569
10      NY Knicks           779087
31           Nets           612597
13        Nuggets           756457
23         Pacers           689310
26       Pelicans           656183
25        Pistons           675963
5         Raptors           812822
17        Rockets           740392
14          Spurs           750616
30           Suns           627023
16        Thunder           746323
29   Timberwolves           627543
8   Trail Blazers           799345
7        Warriors           803436
20        Wizards           716996

In [4]:
url = "https://en.wikipedia.org/wiki/List_of_National_Basketball_Association_arenas"
nba_capacities = pd.read_html(url)

In [5]:
nba_capacities = nba_capacities[0].drop(['Image','Location','Opened','Ref(s)'],axis=1)
nba_capacities["Lat"]=""
nba_capacities["Lng"]=""
nba_capacities

                         Arena                 Team(s)  Capacity Lat Lng
0      American Airlines Arena              Miami Heat     19600
1     American Airlines Center        Dallas Mavericks     19200
2                 Amway Center           Orlando Magic     18846
3                  AT&T Center       San Antonio Spurs     18418
4      Bankers Life Fieldhouse          Indiana Pacers     17923
5              Barclays Center           Brooklyn Nets     17732
6            Capital One Arena      Washington Wizards     20356
7                 Chase Center   Golden State Warriors     18064
8      Chesapeake Energy Arena   Oklahoma City Thunder     18203
9                   FedExForum       Memphis Grizzlies     17794
10                Fiserv Forum         Milwaukee Bucks     17500
11             Golden 1 Center        Sacramento Kings     17583
12        Little Caesars Arena         Detroit Pistons     20332
13       Madison Square Garden         New York Knicks     19812
14                 Moda Center  Portland Trail Blazers     19441
15                Pepsi Center          Denver Nuggets     19520
16  Rocket Mortgage FieldHouse     Cleveland Cavaliers     19432
17            Scotiabank Arena         Toronto Raptors     19800
18        Smoothie King Center    New Orleans Pelicans     16867
19             Spectrum Center       Charlotte Hornets     19077
20              Staples Center    Los Angeles Clippers     19068
21              Staples Center      Los Angeles Lakers     18997
22            State Farm Arena           Atlanta Hawks     18118
23  Talking Stick Resort Arena            Phoenix Suns     18055
24               Target Center  Minnesota Timberwolves     18978
25                   TD Garden          Boston Celtics     18624
26               Toyota Center         Houston Rockets     18055
27               United Center           Chicago Bulls     20917
28     Vivint Smart Home Arena               Utah Jazz     18306
29          Wells Fargo Center      Philadelphia 76ers     20478

In [7]:
params={"key":gkey}
for index,row in nba_capacities.iterrows():
    base_url="https://maps.googleapis.com/maps/api/geocode/json"
    arena=row["Arena"]
    params["address"]=arena
    result=requests.get(base_url, params=params)
    result=result.json()
    try:    
        nba_capacities.loc[index, "Lat"] = result["results"][0]["geometry"]["location"]["lat"]
        nba_capacities.loc[index, "Lng"] = result["results"][0]["geometry"]["location"]["lng"]
        time.sleep(1)
    except (IndexError, KeyError):
        print("results not found...skipping")
        time.sleep(1)
print("Complete")

------------------------------
Complete

In [8]:
nba_capacities

,Arena,Team(s),Capacity,Lat,Lng
0,American Airlines Arena,Miami Heat,19600,25.7814,-80.187
1,American Airlines Center,Dallas Mavericks,19200,32.7903,-96.8101
2,Amway Center,Orlando Magic,18846,28.5392,-81.3839
3,AT&T Center,San Antonio Spurs,18418,29.4272,-98.4375
4,Bankers Life Fieldhouse,Indiana Pacers,17923,39.764,-86.1555
5,Barclays Center,Brooklyn Nets,17732,40.6826,-73.9754
6,Capital One Arena,Washington Wizards,20356,38.8981,-77.0208
7,Chase Center,Golden State Warriors,18064,37.7704,-122.387
8,Chesapeake Energy Arena,Oklahoma City Thunder,18203,35.4634,-97.5151
9,FedExForum,Memphis Grizzlies,17794,35.1381,-90.0506
10,Fiserv Forum,Milwaukee Bucks,17500,43.0451,-87.9174
11,Golden 1 Center,Sacramento Kings,17583,38.5802,-121.5
12,Little Caesars Arena,Detroit Pistons,20332,42.3411,-83.0553
13,Madison Square Garden,New York Knicks,19812,40.7505,-73.9934
14,Moda Center,Portland Trail Blazers,19441,45.5316,-122.667
15,Pepsi Center,Denver Nuggets,19520,39.7487,-105.007
16,Rocket Mortgage FieldHouse,Cleveland Cavaliers,19432,41.4966,-81.6881
17,Scotiabank Arena,Toronto Raptors,19800,43.6435,-79.3791
18,Smoothie King Center,New Orleans Pelicans,16867,29.949,-90.0821
19,Spectrum Center,Charlotte Hornets,19077,35.2252,-80.8394
20,Staples Center,Los Angeles Clippers,19068,34.043,-118.267
21,Staples Center,Los Angeles Lakers,18997,34.043,-118.267
22,State Farm Arena,Atlanta Hawks,18118,33.7573,-84.3963
23,Talking Stick Resort Arena,Phoenix Suns,18055,33.4457,-112.071
24,Target Center,Minnesota Timberwolves,18978,44.9795,-93.2761
25,TD Garden,Boston Celtics,18624,42.3662,-71.0621
26,Toyota Center,Houston Rockets,18055,29.7508,-95.3621
27,United Center,Chicago Bulls,20917,41.8807,-87.6742
28,Vivint Smart Home Arena,Utah Jazz,18306,40.7683,-111.901
29,Wells Fargo Center,Philadelphia 76ers,20478,39.9012,-75.172