In [1]:
#Dependencies 
import pandas as pd 
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from api_keys import g_key
import requests
import json
import time
from bs4 import BeautifulSoup as bs

### NFL ETL AND DATABASE STUFF

In [2]:
##save data URL for nfl attendance, read w/pandas web scraping
data = "https://www.pro-football-reference.com/years/2018/attendance.htm"
nfl_attendance = pd.read_html(data)

In [3]:
#see what columns we have
nfl_attendance = nfl_attendance[0]
for col in nfl_attendance.columns:
    print(col)

Tm
Total
Home
Away
Week 1
Week 2
Week 3
Week 4
Week 5
Week 6
Week 7
Week 8
Week 9
Week 10
Week 11
Week 12
Week 13
Week 14
Week 15
Week 16
Week 17

In [4]:
#Drop weekly columns, keep total only
nfl_attendance = nfl_attendance.drop([col for col in nfl_attendance.columns if 'Week' in col],axis=1)
nfl_attendance.head()

                  Tm    Total      Home      Away
0  Arizona Cardinals  1018127  496111.0  522016.0
1    Atlanta Falcons  1119143  583184.0  535959.0
2   Baltimore Ravens  1053383  563451.0  489932.0
3      Buffalo Bills  1072899  519695.0  553204.0
4  Carolina Panthers  1102756  590182.0  512574.0

In [5]:
#Drop home and away columns, keep team and total attendance only
nfl_attendance = nfl_attendance.drop(["Home", "Away"], axis = 1)
nfl_attendance.head()

                  Tm    Total
0  Arizona Cardinals  1018127
1    Atlanta Falcons  1119143
2   Baltimore Ravens  1053383
3      Buffalo Bills  1072899
4  Carolina Panthers  1102756

In [6]:
#Rename columns for easier ETL
nfl_attendance.columns = ["team", "total_attendance"]
nfl_attendance.head()

                team  total_attendance
0  Arizona Cardinals           1018127
1    Atlanta Falcons           1119143
2   Baltimore Ravens           1053383
3      Buffalo Bills           1072899
4  Carolina Panthers           1102756

In [7]:
#This is already in alphabetical order
nfl_attendance

                    team  total_attendance
0      Arizona Cardinals           1018127
1        Atlanta Falcons           1119143
2       Baltimore Ravens           1053383
3          Buffalo Bills           1072899
4      Carolina Panthers           1102756
5          Chicago Bears           1045568
6     Cincinnati Bengals            911289
7       Cleveland Browns           1045441
8         Dallas Cowboys           1303393
9         Denver Broncos           1092324
10         Detroit Lions           1054328
11     Green Bay Packers           1163842
12        Houston Texans           1112480
13    Indianapolis Colts           1006361
14  Jacksonville Jaguars           1109899
15    Kansas City Chiefs           1107376
16  Los Angeles Chargers            803556
17      Los Angeles Rams           1102409
18        Miami Dolphins           1062180
19     Minnesota Vikings           1090834
20  New England Patriots           1068530
21    New Orleans Saints           1147700
22       New York Giants           1183132
23         New York Jets           1130823
24       Oakland Raiders            955258
25   Philadelphia Eagles           1149737
26   Pittsburgh Steelers           1040509
27   San Francisco 49ers           1052454
28      Seattle Seahawks           1114327
29  Tampa Bay Buccaneers            999843
30      Tennessee Titans           1092094
31   Washington Redskins           1043167
32                   NaN          17177581

In [8]:
#Data is extracted and ready to be loaded...doesn't need transforming atm
#now do the capacity data! and merge! 
url = "https://www.stadiumsofprofootball.com/comparisons/"
nfl_capacities = pd.read_html(url)
nfl_capacities = nfl_capacities[0]
nfl_capacities

,0,1,2,3,4,5
0,Name,Team(s),Capacity,Opened,Turf,Cost
1,Lambeau Field,Green Bay Packers,80735,9/29/1957,Grass,"$960,000"
2,RingCentral Coliseum,Oakland Raiders,53250,9/18/1966,Grass,$25.5 Million
3,Arrowhead Stadium,Kansas City Chiefs,76416,8/12/1972,Grass,$43 Million
4,New Era Field,Buffalo Bills,73967,8/17/1973,FieldTurf,$22 Million
5,Superdome,New Orleans Saints,76468,9/28/1975,FieldTurf,$134 Million
6,Hard Rock Stadium,Miami Dolphins,65326,8/16/1987,Grass,$115 Million
7,TIAA Bank Field,Jacksonville Jaguars,67264,8/18/1995,Grass,$134 Million
8,Bank of America Stadium,Carolina Panthers,73778,9/14/1996,Grass,$242 Million
9,FedEx Field,Washington Redskins,79000,9/14/1997,Grass,$250 Million
10,M&T Bank Stadium,Baltimore Ravens,71008,9/6/1998,Fieldturf,$220 Million
11,Raymond James Stadium,Tampa Bay Buccaneers,65890,9/20/1998,Grass,$194 Million
12,FirstEnergy Stadium,Cleveland Browns,68000,9/12/1999,Grass,$290 Million
13,Nissan Stadium,Tennessee Titans,69143,9/12/1999,Grass,$290 Million
14,Paul Brown Stadium,Cincinnati Bengals,65515,9/10/2000,Fieldturf,$450 Million
15,Empower Field,Denver Broncos,76125,9/10/2001,Grass,$364 Million
16,Heinz Field,Pittsburgh Steelers,65500,10/7/2001,Grass,$281 Million
17,NRG Stadium,Houston Texans,71500,9/8/2002,Grass,$449 Million
18,Gillette Stadium,New England Patriots,68756,9/9/2002,Fieldturf,$325 Million
19,CenturyLink Field,Seattle Seahawks,67000,9/15/2002,FieldTurf,$360 Million
20,Ford Field,Detroit Lions,65000,9/22/2002,FieldTurf,$430 Million
21,Lincoln Financial Field,Philadelphia Eagles,69176,9/8/2003,Grass,$518 Million
22,Soldier Field,Chicago Bears,61500,9/29/2003,Grass,$600 Million
23,University of Phoenix Stadium,Arizona Cardinals,63400,9/10/2006,Grass,$455 Million
24,Lucas Oil Stadium,Indianapolis Colts,63000,9/7/2008,Fieldturf,$720 Million
25,AT&T Stadium,Dallas Cowboys,80000,9/20/2009,FieldTurf,$1.3 Billion
26,MetLife Stadium,New York Giants/Jets,82500,9/12/2010,FieldTurf,$1.6 Billion
27,Levi’s Stadium,San Francisco 49ers,68500,9/14/2014,Grass,$1.3 Billion
28,Los Angeles Coliseum,Los Angeles Rams,77500,9/18/2016,Grass,"$954,872"
29,US Bank Stadium,Minnesota Vikings,66200,9/18/2016,Fieldturf,$1.1 Billion
30,StubHub Center,Los Angeles Chargers,30000,9/17/2017,Grass,$150 Million
31,Mercedes Benz Stadium,Atlanta Falcons,71000,9/217/2017,Fieldturf,$1.5 Billion
32,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
for col in nfl_capacities.columns:
    print(type(col))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [10]:
#Drop unneccessary columns--and stadium name, doesn't matter
nfl_capacities = nfl_capacities.drop([3, 4, 5], axis = 1)
nfl_capacities.head()

                      0                   1         2
0                  Name             Team(s)  Capacity
1         Lambeau Field   Green Bay Packers     80735
2  RingCentral Coliseum     Oakland Raiders     53250
3     Arrowhead Stadium  Kansas City Chiefs     76416
4         New Era Field       Buffalo Bills     73967

In [11]:
#Change column names
nfl_capacities.columns = ["stadium", "team", "stadium_capacity"]
nfl_capacities.head()

                stadium                team stadium_capacity
0                  Name             Team(s)         Capacity
1         Lambeau Field   Green Bay Packers            80735
2  RingCentral Coliseum     Oakland Raiders            53250
3     Arrowhead Stadium  Kansas City Chiefs            76416
4         New Era Field       Buffalo Bills            73967

In [12]:
#Drop first row, it's repetitive 
nfl_capacities = nfl_capacities.iloc[1:]
nfl_capacities

                          stadium                  team stadium_capacity
1                   Lambeau Field     Green Bay Packers            80735
2            RingCentral Coliseum       Oakland Raiders            53250
3               Arrowhead Stadium    Kansas City Chiefs            76416
4                   New Era Field         Buffalo Bills            73967
5                       Superdome    New Orleans Saints            76468
6               Hard Rock Stadium        Miami Dolphins            65326
7                 TIAA Bank Field  Jacksonville Jaguars            67264
8         Bank of America Stadium     Carolina Panthers            73778
9                     FedEx Field   Washington Redskins            79000
10               M&T Bank Stadium      Baltimore Ravens            71008
11          Raymond James Stadium  Tampa Bay Buccaneers            65890
12            FirstEnergy Stadium      Cleveland Browns            68000
13                 Nissan Stadium      Tennessee Titans            69143
14             Paul Brown Stadium    Cincinnati Bengals            65515
15                  Empower Field        Denver Broncos            76125
16                    Heinz Field   Pittsburgh Steelers            65500
17                    NRG Stadium        Houston Texans            71500
18               Gillette Stadium  New England Patriots            68756
19              CenturyLink Field      Seattle Seahawks            67000
20                     Ford Field         Detroit Lions            65000
21        Lincoln Financial Field   Philadelphia Eagles            69176
22                  Soldier Field         Chicago Bears            61500
23  University of Phoenix Stadium     Arizona Cardinals            63400
24              Lucas Oil Stadium    Indianapolis Colts            63000
25                   AT&T Stadium        Dallas Cowboys            80000
26                MetLife Stadium  New York Giants/Jets            82500
27                 Levi’s Stadium   San Francisco 49ers            68500
28           Los Angeles Coliseum      Los Angeles Rams            77500
29                US Bank Stadium     Minnesota Vikings            66200
30                 StubHub Center  Los Angeles Chargers            30000
31          Mercedes Benz Stadium       Atlanta Falcons            71000
32                            NaN                   NaN              NaN

In [13]:
#Sort capacity data
nfl_capacities = nfl_capacities.sort_values(by = ['team']).reset_index()
nfl_capacities_cap = nfl_capacities[["stadium_capacity", "stadium"]]
nfl_capacities_cap

   stadium_capacity                        stadium
0             63400  University of Phoenix Stadium
1             71000          Mercedes Benz Stadium
2             71008               M&T Bank Stadium
3             73967                  New Era Field
4             73778        Bank of America Stadium
5             61500                  Soldier Field
6             65515             Paul Brown Stadium
7             68000            FirstEnergy Stadium
8             80000                   AT&T Stadium
9             76125                  Empower Field
10            65000                     Ford Field
11            80735                  Lambeau Field
12            71500                    NRG Stadium
13            63000              Lucas Oil Stadium
14            67264                TIAA Bank Field
15            76416              Arrowhead Stadium
16            30000                 StubHub Center
17            77500           Los Angeles Coliseum
18            65326              Hard Rock Stadium
19            66200                US Bank Stadium
20            68756               Gillette Stadium
21            76468                      Superdome
22            82500                MetLife Stadium
23            53250           RingCentral Coliseum
24            69176        Lincoln Financial Field
25            65500                    Heinz Field
26            68500                 Levi’s Stadium
27            67000              CenturyLink Field
28            65890          Raymond James Stadium
29            69143                 Nissan Stadium
30            79000                    FedEx Field
31              NaN                            NaN

In [14]:
nfl_attendance['stadium_capacity'] = nfl_capacities_cap['stadium_capacity']
nfl_attendance['stadium'] = nfl_capacities_cap['stadium']
nfl_attendance

,team,total_attendance,stadium_capacity,stadium
0,Arizona Cardinals,1018127,63400,University of Phoenix Stadium
1,Atlanta Falcons,1119143,71000,Mercedes Benz Stadium
2,Baltimore Ravens,1053383,71008,M&T Bank Stadium
3,Buffalo Bills,1072899,73967,New Era Field
4,Carolina Panthers,1102756,73778,Bank of America Stadium
5,Chicago Bears,1045568,61500,Soldier Field
6,Cincinnati Bengals,911289,65515,Paul Brown Stadium
7,Cleveland Browns,1045441,68000,FirstEnergy Stadium
8,Dallas Cowboys,1303393,80000,AT&T Stadium
9,Denver Broncos,1092324,76125,Empower Field
10,Detroit Lions,1054328,65000,Ford Field
11,Green Bay Packers,1163842,80735,Lambeau Field
12,Houston Texans,1112480,71500,NRG Stadium
13,Indianapolis Colts,1006361,63000,Lucas Oil Stadium
14,Jacksonville Jaguars,1109899,67264,TIAA Bank Field
15,Kansas City Chiefs,1107376,76416,Arrowhead Stadium
16,Los Angeles Chargers,803556,30000,StubHub Center
17,Los Angeles Rams,1102409,77500,Los Angeles Coliseum
18,Miami Dolphins,1062180,65326,Hard Rock Stadium
19,Minnesota Vikings,1090834,66200,US Bank Stadium
20,New England Patriots,1068530,68756,Gillette Stadium
21,New Orleans Saints,1147700,76468,Superdome
22,New York Giants,1183132,82500,MetLife Stadium
23,New York Jets,1130823,53250,RingCentral Coliseum
24,Oakland Raiders,955258,69176,Lincoln Financial Field
25,Philadelphia Eagles,1149737,65500,Heinz Field
26,Pittsburgh Steelers,1040509,68500,Levi’s Stadium
27,San Francisco 49ers,1052454,67000,CenturyLink Field
28,Seattle Seahawks,1114327,65890,Raymond James Stadium
29,Tampa Bay Buccaneers,999843,69143,Nissan Stadium
30,Tennessee Titans,1092094,79000,FedEx Field
31,Washington Redskins,1043167,NaN,NaN
32,NaN,17177581,NaN,NaN

In [15]:
nfl_attendance.head()

,team,total_attendance,stadium_capacity,stadium
0,Arizona Cardinals,1018127,63400,University of Phoenix Stadium
1,Atlanta Falcons,1119143,71000,Mercedes Benz Stadium
2,Baltimore Ravens,1053383,71008,M&T Bank Stadium
3,Buffalo Bills,1072899,73967,New Era Field
4,Carolina Panthers,1102756,73778,Bank of America Stadium

In [16]:
#Add empty columns for lat/long 
nfl_attendance["lat"] = ""
nfl_attendance["long"] = ""
nfl_attendance

,team,total_attendance,stadium_capacity,stadium,lat,long
0,Arizona Cardinals,1018127,63400,University of Phoenix Stadium,,
1,Atlanta Falcons,1119143,71000,Mercedes Benz Stadium,,
2,Baltimore Ravens,1053383,71008,M&T Bank Stadium,,
3,Buffalo Bills,1072899,73967,New Era Field,,
4,Carolina Panthers,1102756,73778,Bank of America Stadium,,
5,Chicago Bears,1045568,61500,Soldier Field,,
6,Cincinnati Bengals,911289,65515,Paul Brown Stadium,,
7,Cleveland Browns,1045441,68000,FirstEnergy Stadium,,
8,Dallas Cowboys,1303393,80000,AT&T Stadium,,
9,Denver Broncos,1092324,76125,Empower Field,,
10,Detroit Lions,1054328,65000,Ford Field,,
11,Green Bay Packers,1163842,80735,Lambeau Field,,
12,Houston Texans,1112480,71500,NRG Stadium,,
13,Indianapolis Colts,1006361,63000,Lucas Oil Stadium,,
14,Jacksonville Jaguars,1109899,67264,TIAA Bank Field,,
15,Kansas City Chiefs,1107376,76416,Arrowhead Stadium,,
16,Los Angeles Chargers,803556,30000,StubHub Center,,
17,Los Angeles Rams,1102409,77500,Los Angeles Coliseum,,
18,Miami Dolphins,1062180,65326,Hard Rock Stadium,,
19,Minnesota Vikings,1090834,66200,US Bank Stadium,,
20,New England Patriots,1068530,68756,Gillette Stadium,,
21,New Orleans Saints,1147700,76468,Superdome,,
22,New York Giants,1183132,82500,MetLife Stadium,,
23,New York Jets,1130823,53250,RingCentral Coliseum,,
24,Oakland Raiders,955258,69176,Lincoln Financial Field,,
25,Philadelphia Eagles,1149737,65500,Heinz Field,,
26,Pittsburgh Steelers,1040509,68500,Levi’s Stadium,,
27,San Francisco 49ers,1052454,67000,CenturyLink Field,,
28,Seattle Seahawks,1114327,65890,Raymond James Stadium,,
29,Tampa Bay Buccaneers,999843,69143,Nissan Stadium,,
30,Tennessee Titans,1092094,79000,FedEx Field,,
31,Washington Redskins,1043167,NaN,NaN,,
32,NaN,17177581,NaN,NaN,,

In [17]:
##Get lat/long of each stadium 
params = {"key": g_key}
for index,row in nfl_attendance.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"
    arena = row["stadium"]
    params["address"]=arena
    result = requests.get(base_url, params = params)
    result = result.json()
    try:
        nfl_attendance.loc[index, "lat"] = result["results"][0]["geometry"]["location"]["lat"]
        nfl_attendance.loc[index, "long"] = result["results"][0]["geometry"]["location"]["lng"]
        time.sleep(1)
    except (IndexError, KeyError):
        print("results not found...skipping")
        time.sleep(1)
print("Complete")

Complete

In [18]:
nfl_attendance

,team,total_attendance,stadium_capacity,stadium,lat,long
0,Arizona Cardinals,1018127,63400,University of Phoenix Stadium,33.5276,-112.263
1,Atlanta Falcons,1119143,71000,Mercedes Benz Stadium,33.7554,-84.4009
2,Baltimore Ravens,1053383,71008,M&T Bank Stadium,39.278,-76.6227
3,Buffalo Bills,1072899,73967,New Era Field,42.7738,-78.787
4,Carolina Panthers,1102756,73778,Bank of America Stadium,35.2258,-80.8528
5,Chicago Bears,1045568,61500,Soldier Field,41.8623,-87.6167
6,Cincinnati Bengals,911289,65515,Paul Brown Stadium,39.0955,-84.5161
7,Cleveland Browns,1045441,68000,FirstEnergy Stadium,41.5061,-81.6995
8,Dallas Cowboys,1303393,80000,AT&T Stadium,32.7473,-97.0945
9,Denver Broncos,1092324,76125,Empower Field,39.7439,-105.02
10,Detroit Lions,1054328,65000,Ford Field,42.34,-83.0456
11,Green Bay Packers,1163842,80735,Lambeau Field,44.5013,-88.0622
12,Houston Texans,1112480,71500,NRG Stadium,29.6847,-95.4107
13,Indianapolis Colts,1006361,63000,Lucas Oil Stadium,39.7601,-86.1639
14,Jacksonville Jaguars,1109899,67264,TIAA Bank Field,30.324,-81.6373
15,Kansas City Chiefs,1107376,76416,Arrowhead Stadium,39.0489,-94.4839
16,Los Angeles Chargers,803556,30000,StubHub Center,33.8644,-118.261
17,Los Angeles Rams,1102409,77500,Los Angeles Coliseum,34.0141,-118.288
18,Miami Dolphins,1062180,65326,Hard Rock Stadium,25.958,-80.2389
19,Minnesota Vikings,1090834,66200,US Bank Stadium,44.9736,-93.2575
20,New England Patriots,1068530,68756,Gillette Stadium,42.0909,-71.2643
21,New Orleans Saints,1147700,76468,Superdome,29.9511,-90.0812
22,New York Giants,1183132,82500,MetLife Stadium,40.8135,-74.0745
23,New York Jets,1130823,53250,RingCentral Coliseum,37.7516,-122.201
24,Oakland Raiders,955258,69176,Lincoln Financial Field,39.9008,-75.1674
25,Philadelphia Eagles,1149737,65500,Heinz Field,40.4468,-80.0158
26,Pittsburgh Steelers,1040509,68500,Levi’s Stadium,37.4034,-121.969
27,San Francisco 49ers,1052454,67000,CenturyLink Field,47.5952,-122.332
28,Seattle Seahawks,1114327,65890,Raymond James Stadium,27.9759,-82.5033
29,Tampa Bay Buccaneers,999843,69143,Nissan Stadium,36.1665,-86.7713
30,Tennessee Titans,1092094,79000,FedEx Field,38.9076,-76.8645
31,Washington Redskins,1043167,NaN,NaN,45.5222,-122.986
32,NaN,17177581,NaN,NaN,45.5222,-122.986

In [19]:
# A few values in this are wrong--gonna fix them manually
#first, delete last two rows, not enough data to be usable
nfl_attendance_clean = nfl_attendance.iloc[:31]
nfl_attendance_clean.at[27, 'stadium'] = 'Levis Stadium'
nfl_attendance_clean

,team,total_attendance,stadium_capacity,stadium,lat,long
0,Arizona Cardinals,1018127,63400,University of Phoenix Stadium,33.5276,-112.263
1,Atlanta Falcons,1119143,71000,Mercedes Benz Stadium,33.7554,-84.4009
2,Baltimore Ravens,1053383,71008,M&T Bank Stadium,39.278,-76.6227
3,Buffalo Bills,1072899,73967,New Era Field,42.7738,-78.787
4,Carolina Panthers,1102756,73778,Bank of America Stadium,35.2258,-80.8528
5,Chicago Bears,1045568,61500,Soldier Field,41.8623,-87.6167
6,Cincinnati Bengals,911289,65515,Paul Brown Stadium,39.0955,-84.5161
7,Cleveland Browns,1045441,68000,FirstEnergy Stadium,41.5061,-81.6995
8,Dallas Cowboys,1303393,80000,AT&T Stadium,32.7473,-97.0945
9,Denver Broncos,1092324,76125,Empower Field,39.7439,-105.02
10,Detroit Lions,1054328,65000,Ford Field,42.34,-83.0456
11,Green Bay Packers,1163842,80735,Lambeau Field,44.5013,-88.0622
12,Houston Texans,1112480,71500,NRG Stadium,29.6847,-95.4107
13,Indianapolis Colts,1006361,63000,Lucas Oil Stadium,39.7601,-86.1639
14,Jacksonville Jaguars,1109899,67264,TIAA Bank Field,30.324,-81.6373
15,Kansas City Chiefs,1107376,76416,Arrowhead Stadium,39.0489,-94.4839
16,Los Angeles Chargers,803556,30000,StubHub Center,33.8644,-118.261
17,Los Angeles Rams,1102409,77500,Los Angeles Coliseum,34.0141,-118.288
18,Miami Dolphins,1062180,65326,Hard Rock Stadium,25.958,-80.2389
19,Minnesota Vikings,1090834,66200,US Bank Stadium,44.9736,-93.2575
20,New England Patriots,1068530,68756,Gillette Stadium,42.0909,-71.2643
21,New Orleans Saints,1147700,76468,Superdome,29.9511,-90.0812
22,New York Giants,1183132,82500,MetLife Stadium,40.8135,-74.0745
23,New York Jets,1130823,53250,RingCentral Coliseum,37.7516,-122.201
24,Oakland Raiders,955258,69176,Lincoln Financial Field,39.9008,-75.1674
25,Philadelphia Eagles,1149737,65500,Heinz Field,40.4468,-80.0158
26,Pittsburgh Steelers,1040509,68500,Levi’s Stadium,37.4034,-121.969
27,San Francisco 49ers,1052454,67000,Levis Stadium,47.5952,-122.332
28,Seattle Seahawks,1114327,65890,Raymond James Stadium,27.9759,-82.5033
29,Tampa Bay Buccaneers,999843,69143,Nissan Stadium,36.1665,-86.7713
30,Tennessee Titans,1092094,79000,FedEx Field,38.9076,-76.8645

In [20]:
nfl_attendance_clean.at[27, 'lat'] = 37.4034    
nfl_attendance_clean.at[27, 'long'] = -121.9694
nfl_attendance_clean

,team,total_attendance,stadium_capacity,stadium,lat,long
0,Arizona Cardinals,1018127,63400,University of Phoenix Stadium,33.5276,-112.263
1,Atlanta Falcons,1119143,71000,Mercedes Benz Stadium,33.7554,-84.4009
2,Baltimore Ravens,1053383,71008,M&T Bank Stadium,39.278,-76.6227
3,Buffalo Bills,1072899,73967,New Era Field,42.7738,-78.787
4,Carolina Panthers,1102756,73778,Bank of America Stadium,35.2258,-80.8528
5,Chicago Bears,1045568,61500,Soldier Field,41.8623,-87.6167
6,Cincinnati Bengals,911289,65515,Paul Brown Stadium,39.0955,-84.5161
7,Cleveland Browns,1045441,68000,FirstEnergy Stadium,41.5061,-81.6995
8,Dallas Cowboys,1303393,80000,AT&T Stadium,32.7473,-97.0945
9,Denver Broncos,1092324,76125,Empower Field,39.7439,-105.02
10,Detroit Lions,1054328,65000,Ford Field,42.34,-83.0456
11,Green Bay Packers,1163842,80735,Lambeau Field,44.5013,-88.0622
12,Houston Texans,1112480,71500,NRG Stadium,29.6847,-95.4107
13,Indianapolis Colts,1006361,63000,Lucas Oil Stadium,39.7601,-86.1639
14,Jacksonville Jaguars,1109899,67264,TIAA Bank Field,30.324,-81.6373
15,Kansas City Chiefs,1107376,76416,Arrowhead Stadium,39.0489,-94.4839
16,Los Angeles Chargers,803556,30000,StubHub Center,33.8644,-118.261
17,Los Angeles Rams,1102409,77500,Los Angeles Coliseum,34.0141,-118.288
18,Miami Dolphins,1062180,65326,Hard Rock Stadium,25.958,-80.2389
19,Minnesota Vikings,1090834,66200,US Bank Stadium,44.9736,-93.2575
20,New England Patriots,1068530,68756,Gillette Stadium,42.0909,-71.2643
21,New Orleans Saints,1147700,76468,Superdome,29.9511,-90.0812
22,New York Giants,1183132,82500,MetLife Stadium,40.8135,-74.0745
23,New York Jets,1130823,53250,RingCentral Coliseum,37.7516,-122.201
24,Oakland Raiders,955258,69176,Lincoln Financial Field,39.9008,-75.1674
25,Philadelphia Eagles,1149737,65500,Heinz Field,40.4468,-80.0158
26,Pittsburgh Steelers,1040509,68500,Levi’s Stadium,37.4034,-121.969
27,San Francisco 49ers,1052454,67000,Levis Stadium,37.4034,-121.969
28,Seattle Seahawks,1114327,65890,Raymond James Stadium,27.9759,-82.5033
29,Tampa Bay Buccaneers,999843,69143,Nissan Stadium,36.1665,-86.7713
30,Tennessee Titans,1092094,79000,FedEx Field,38.9076,-76.8645

In [21]:
#Fix steelers row
nfl_attendance_clean.at[26, 'lat'] = 40.4468    
nfl_attendance_clean.at[26, 'long'] = -80.0158
nfl_attendance_clean.at[26, 'stadium'] = 'Heinz Field'
nfl_attendance_clean

,team,total_attendance,stadium_capacity,stadium,lat,long
0,Arizona Cardinals,1018127,63400,University of Phoenix Stadium,33.5276,-112.263
1,Atlanta Falcons,1119143,71000,Mercedes Benz Stadium,33.7554,-84.4009
2,Baltimore Ravens,1053383,71008,M&T Bank Stadium,39.278,-76.6227
3,Buffalo Bills,1072899,73967,New Era Field,42.7738,-78.787
4,Carolina Panthers,1102756,73778,Bank of America Stadium,35.2258,-80.8528
5,Chicago Bears,1045568,61500,Soldier Field,41.8623,-87.6167
6,Cincinnati Bengals,911289,65515,Paul Brown Stadium,39.0955,-84.5161
7,Cleveland Browns,1045441,68000,FirstEnergy Stadium,41.5061,-81.6995
8,Dallas Cowboys,1303393,80000,AT&T Stadium,32.7473,-97.0945
9,Denver Broncos,1092324,76125,Empower Field,39.7439,-105.02
10,Detroit Lions,1054328,65000,Ford Field,42.34,-83.0456
11,Green Bay Packers,1163842,80735,Lambeau Field,44.5013,-88.0622
12,Houston Texans,1112480,71500,NRG Stadium,29.6847,-95.4107
13,Indianapolis Colts,1006361,63000,Lucas Oil Stadium,39.7601,-86.1639
14,Jacksonville Jaguars,1109899,67264,TIAA Bank Field,30.324,-81.6373
15,Kansas City Chiefs,1107376,76416,Arrowhead Stadium,39.0489,-94.4839
16,Los Angeles Chargers,803556,30000,StubHub Center,33.8644,-118.261
17,Los Angeles Rams,1102409,77500,Los Angeles Coliseum,34.0141,-118.288
18,Miami Dolphins,1062180,65326,Hard Rock Stadium,25.958,-80.2389
19,Minnesota Vikings,1090834,66200,US Bank Stadium,44.9736,-93.2575
20,New England Patriots,1068530,68756,Gillette Stadium,42.0909,-71.2643
21,New Orleans Saints,1147700,76468,Superdome,29.9511,-90.0812
22,New York Giants,1183132,82500,MetLife Stadium,40.8135,-74.0745
23,New York Jets,1130823,53250,RingCentral Coliseum,37.7516,-122.201
24,Oakland Raiders,955258,69176,Lincoln Financial Field,39.9008,-75.1674
25,Philadelphia Eagles,1149737,65500,Heinz Field,40.4468,-80.0158
26,Pittsburgh Steelers,1040509,68500,Heinz Field,40.4468,-80.0158
27,San Francisco 49ers,1052454,67000,Levis Stadium,37.4034,-121.969
28,Seattle Seahawks,1114327,65890,Raymond James Stadium,27.9759,-82.5033
29,Tampa Bay Buccaneers,999843,69143,Nissan Stadium,36.1665,-86.7713
30,Tennessee Titans,1092094,79000,FedEx Field,38.9076,-76.8645

In [22]:
#Fix Eagles row
nfl_attendance_clean.at[25, 'lat'] = 39.9008    
nfl_attendance_clean.at[25, 'long'] = -75.1674
nfl_attendance_clean.at[25, 'stadium'] = 'Lincoln Financial Field'

#Fix Raiders row
nfl_attendance_clean.at[24, 'lat'] = 37.7516    
nfl_attendance_clean.at[24, 'long'] = -122.201
nfl_attendance_clean.at[24, 'stadium'] = 'RingCentral Coliseum'

#Fix Jets row--it is identical to Giants. 
nfl_attendance_clean.at[23, 'lat'] = 40.8135    
nfl_attendance_clean.at[23, 'long'] = -74.0745
nfl_attendance_clean.at[23, 'stadium'] = 'MetLife Stadium'

nfl_attendance_clean

,team,total_attendance,stadium_capacity,stadium,lat,long
0,Arizona Cardinals,1018127,63400,University of Phoenix Stadium,33.5276,-112.263
1,Atlanta Falcons,1119143,71000,Mercedes Benz Stadium,33.7554,-84.4009
2,Baltimore Ravens,1053383,71008,M&T Bank Stadium,39.278,-76.6227
3,Buffalo Bills,1072899,73967,New Era Field,42.7738,-78.787
4,Carolina Panthers,1102756,73778,Bank of America Stadium,35.2258,-80.8528
5,Chicago Bears,1045568,61500,Soldier Field,41.8623,-87.6167
6,Cincinnati Bengals,911289,65515,Paul Brown Stadium,39.0955,-84.5161
7,Cleveland Browns,1045441,68000,FirstEnergy Stadium,41.5061,-81.6995
8,Dallas Cowboys,1303393,80000,AT&T Stadium,32.7473,-97.0945
9,Denver Broncos,1092324,76125,Empower Field,39.7439,-105.02
10,Detroit Lions,1054328,65000,Ford Field,42.34,-83.0456
11,Green Bay Packers,1163842,80735,Lambeau Field,44.5013,-88.0622
12,Houston Texans,1112480,71500,NRG Stadium,29.6847,-95.4107
13,Indianapolis Colts,1006361,63000,Lucas Oil Stadium,39.7601,-86.1639
14,Jacksonville Jaguars,1109899,67264,TIAA Bank Field,30.324,-81.6373
15,Kansas City Chiefs,1107376,76416,Arrowhead Stadium,39.0489,-94.4839
16,Los Angeles Chargers,803556,30000,StubHub Center,33.8644,-118.261
17,Los Angeles Rams,1102409,77500,Los Angeles Coliseum,34.0141,-118.288
18,Miami Dolphins,1062180,65326,Hard Rock Stadium,25.958,-80.2389
19,Minnesota Vikings,1090834,66200,US Bank Stadium,44.9736,-93.2575
20,New England Patriots,1068530,68756,Gillette Stadium,42.0909,-71.2643
21,New Orleans Saints,1147700,76468,Superdome,29.9511,-90.0812
22,New York Giants,1183132,82500,MetLife Stadium,40.8135,-74.0745
23,New York Jets,1130823,53250,MetLife Stadium,40.8135,-74.0745
24,Oakland Raiders,955258,69176,RingCentral Coliseum,37.7516,-122.201
25,Philadelphia Eagles,1149737,65500,Lincoln Financial Field,39.9008,-75.1674
26,Pittsburgh Steelers,1040509,68500,Heinz Field,40.4468,-80.0158
27,San Francisco 49ers,1052454,67000,Levis Stadium,37.4034,-121.969
28,Seattle Seahawks,1114327,65890,Raymond James Stadium,27.9759,-82.5033
29,Tampa Bay Buccaneers,999843,69143,Nissan Stadium,36.1665,-86.7713
30,Tennessee Titans,1092094,79000,FedEx Field,38.9076,-76.8645

In [23]:
#Fix Titans row
nfl_attendance_clean.at[30, 'lat'] = 36.1665    
nfl_attendance_clean.at[30, 'long'] = -86.7713
nfl_attendance_clean.at[30, 'stadium'] = 'Nissan Stadium'

#Fix Tampa Bay row
nfl_attendance_clean.at[29, 'lat'] = 27.9759   
nfl_attendance_clean.at[29, 'long'] = -82.5033
nfl_attendance_clean.at[29, 'stadium'] = 'Raymond James Stadium'

#Fix Seahawks
nfl_attendance_clean.at[28, 'lat'] = 47.5952    
nfl_attendance_clean.at[28, 'long'] = -122.3316
nfl_attendance_clean.at[28, 'stadium'] = 'CenturyLink Field'

nfl_attendance_clean

,team,total_attendance,stadium_capacity,stadium,lat,long
0,Arizona Cardinals,1018127,63400,University of Phoenix Stadium,33.5276,-112.263
1,Atlanta Falcons,1119143,71000,Mercedes Benz Stadium,33.7554,-84.4009
2,Baltimore Ravens,1053383,71008,M&T Bank Stadium,39.278,-76.6227
3,Buffalo Bills,1072899,73967,New Era Field,42.7738,-78.787
4,Carolina Panthers,1102756,73778,Bank of America Stadium,35.2258,-80.8528
5,Chicago Bears,1045568,61500,Soldier Field,41.8623,-87.6167
6,Cincinnati Bengals,911289,65515,Paul Brown Stadium,39.0955,-84.5161
7,Cleveland Browns,1045441,68000,FirstEnergy Stadium,41.5061,-81.6995
8,Dallas Cowboys,1303393,80000,AT&T Stadium,32.7473,-97.0945
9,Denver Broncos,1092324,76125,Empower Field,39.7439,-105.02
10,Detroit Lions,1054328,65000,Ford Field,42.34,-83.0456
11,Green Bay Packers,1163842,80735,Lambeau Field,44.5013,-88.0622
12,Houston Texans,1112480,71500,NRG Stadium,29.6847,-95.4107
13,Indianapolis Colts,1006361,63000,Lucas Oil Stadium,39.7601,-86.1639
14,Jacksonville Jaguars,1109899,67264,TIAA Bank Field,30.324,-81.6373
15,Kansas City Chiefs,1107376,76416,Arrowhead Stadium,39.0489,-94.4839
16,Los Angeles Chargers,803556,30000,StubHub Center,33.8644,-118.261
17,Los Angeles Rams,1102409,77500,Los Angeles Coliseum,34.0141,-118.288
18,Miami Dolphins,1062180,65326,Hard Rock Stadium,25.958,-80.2389
19,Minnesota Vikings,1090834,66200,US Bank Stadium,44.9736,-93.2575
20,New England Patriots,1068530,68756,Gillette Stadium,42.0909,-71.2643
21,New Orleans Saints,1147700,76468,Superdome,29.9511,-90.0812
22,New York Giants,1183132,82500,MetLife Stadium,40.8135,-74.0745
23,New York Jets,1130823,53250,MetLife Stadium,40.8135,-74.0745
24,Oakland Raiders,955258,69176,RingCentral Coliseum,37.7516,-122.201
25,Philadelphia Eagles,1149737,65500,Lincoln Financial Field,39.9008,-75.1674
26,Pittsburgh Steelers,1040509,68500,Heinz Field,40.4468,-80.0158
27,San Francisco 49ers,1052454,67000,Levis Stadium,37.4034,-121.969
28,Seattle Seahawks,1114327,65890,CenturyLink Field,47.5952,-122.332
29,Tampa Bay Buccaneers,999843,69143,Raymond James Stadium,27.9759,-82.5033
30,Tennessee Titans,1092094,79000,Nissan Stadium,36.1665,-86.7713

### Get MLB Data

In [24]:
s = requests.Session()
url = "https://en.wikipedia.org/wiki/2019_Major_League_Baseball_season"

In [25]:
response = requests.Session()
url = "https://en.wikipedia.org/wiki/2019_Major_League_Baseball_season"

In [26]:
response = s.get(url, timeout=10)
response

In [27]:

soup = bs(response.text, 'html.parser')

In [28]:
# # testing scraping
title = soup.find(id="firstHeading")
print(title.string)

2019 Major League Baseball season

In [29]:
# Get attendance table
attendance_table = soup.find('table', {'class': 'wikitable sortable'})
# attendance_table()

In [30]:
#More on attendance table?
table=soup.find('table', class_='sortable')
table_rows=table.findAll('tr')
all_data=[]
for each_row in table_rows: 
    try: 
        all_data.append(each_row.findAll('td').text)
    except: 
        pass
all_data

[]

In [31]:
tables=pd.read_html(url)
for idx, each_table in enumerate(tables): 
    print(idx)
    print(each_table.columns)

0
Index(['2019 MLB season', '2019 MLB season.1'], dtype='object')
1
Int64Index([0, 1, 2, 3, 4, 5, 6], dtype='int64')
2
Index(['vteAL East', 'W', 'L', 'Pct.', 'GB', 'Home', 'Road'], dtype='object')
3
Index(['vteAL Central', 'W', 'L', 'Pct.', 'GB', 'Home', 'Road'], dtype='object')
4
Index(['vteAL West', 'W', 'L', 'Pct.', 'GB', 'Home', 'Road'], dtype='object')
5
Index(['vteNL East', 'W', 'L', 'Pct.', 'GB', 'Home', 'Road'], dtype='object')
6
Index(['vteNL Central', 'W', 'L', 'Pct.', 'GB', 'Home', 'Road'], dtype='object')
7
Index(['vteNL West', 'W', 'L', 'Pct.', 'GB', 'Home', 'Road'], dtype='object')
8
Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
            19],
           dtype='int64')
9
Index(['Team', 'Former GM', 'Reason for leaving', 'New GM', 'Notes'], dtype='object')
10
Index(['Date', 'Team', 'Former GM', 'Reason for leaving', 'New GM', 'Notes'], dtype='object')
11
Index(['Team', 'Former manager', 'Interim manager', 'Reason for leaving',
       'New Manager', 'Notes'],
      dtype='object')
12
Index(['Team', 'Former manager', 'Interim manager', 'Reason for leaving',
       'New manager', 'Notes'],
      dtype='object')
13
Int64Index([0, 1, 2], dtype='int64')
14
Index(['Stat', 'Player', 'Total'], dtype='object')
15
Index(['Stat', 'Player', 'Total'], dtype='object')
16
Int64Index([0, 1, 2], dtype='int64')
17
Index(['Stat', 'Player', 'Total'], dtype='object')
18
Index(['Stat', 'Player', 'Total'], dtype='object')
19
MultiIndex([('Baseball Writers' Association of America Awards', ...),
            ('Baseball Writers' Association of America Awards', ...),
            ('Baseball Writers' Association of America Awards', ...),
            ('Baseball Writers' Association of America Awards', ...),
            ('Baseball Writers' Association of America Awards', ...),
            ('Baseball Writers' Association of America Awards', ...),
            ('Baseball Writers' Association of America Awards', ...),
            ('Baseball Writers' Association of America Awards', ...),
            ('Baseball Writers' Association of America Awards', ...)],
           )
20
MultiIndex([('All-MLB First Team',           'Position'),
            ('All-MLB First Team',      'Player (Team)'),
            ('All-MLB First Team', 'Unnamed: 2_level_1'),
            ('All-MLB First Team', 'Unnamed: 3_level_1'),
            ('All-MLB First Team', 'Unnamed: 4_level_1'),
            ('All-MLB First Team', 'Unnamed: 5_level_1'),
            ('All-MLB First Team', 'Unnamed: 6_level_1'),
            ('All-MLB First Team', 'Unnamed: 7_level_1'),
            ('All-MLB First Team', 'Unnamed: 8_level_1')],
           )
21
MultiIndex([('Fielding Bible Awards',           'Position'),
            ('Fielding Bible Awards',             'Player'),
            ('Fielding Bible Awards', 'Unnamed: 2_level_1'),
            ('Fielding Bible Awards', 'Unnamed: 3_level_1'),
            ('Fielding Bible Awards', 'Unnamed: 4_level_1'),
            ('Fielding Bible Awards', 'Unnamed: 5_level_1'),
            ('Fielding Bible Awards', 'Unnamed: 6_level_1'),
            ('Fielding Bible Awards', 'Unnamed: 7_level_1'),
            ('Fielding Bible Awards', 'Unnamed: 8_level_1')],
           )
22
Int64Index([0, 1, 2], dtype='int64')
23
Index(['Month', 'American League', 'National League'], dtype='object')
24
Index(['Month', 'American League', 'National League'], dtype='object')
25
Index(['Month', 'American League', 'National League'], dtype='object')
26
Index(['Team Name', 'Wins', '%±', 'Home attendance', '%±.1', 'Per Game',
       'Est. Payroll', '%±.2'],
      dtype='object')
27
Index(['Team', 'Special occasion'], dtype='object')
28
Int64Index([0, 1], dtype='int64')
29
Index(['vte2019 MLB season by team', 'vte2019 MLB season by team.1'], dtype='object')
30
Int64Index([0, 1], dtype='int64')
31
Int64Index([0, 1], dtype='int64')
32
Int64Index([0, 1], dtype='int64')
33
Index(['vteMajor League Baseball seasons', 'vteMajor League Baseball seasons.1'], dtype='object')
34
Int64Index([0, 1], dtype='int64')
35
Int64Index([0, 1], dtype='int64')
36
Index(['vte2019 Major League Baseball postseason', 'vte2019 Major League Baseball postseason.1'], dtype='object')

In [32]:
mlb_attendance = tables[26]

In [33]:
mlb_attendance = pd.DataFrame(mlb_attendance)
TNC = mlb_attendance["Team Name"].str[:-5]
TNC

0       Los Angeles Dodgers
1       St. Louis Cardinals
2          New York Yankees
3              Chicago Cubs
4        Los Angeles Angels
5          Colorado Rockies
6         Milwaukee Brewers
7            Boston Red Sox
8            Houston Astros
9     Philadelphia Phillies
10     San Francisco Giants
11           Atlanta Braves
12            New York Mets
13         San Diego Padres
14          Minnesota Twins
15     Washington Nationals
16     Arizona Diamondbacks
17            Texas Rangers
18          Cincinnati Reds
19         Seattle Mariners
20        Toronto Blue Jays
21        Cleveland Indians
22        Oakland Athletics
23        Chicago White Sox
24           Detroit Tigers
25       Pittsburgh Pirates
26       Kansas City Royals
27        Baltimore Orioles
28           Tampa Bay Rays
29            Miami Marlins
Name: Team Name, dtype: object

In [34]:
mlb_attendance.insert(0,"Team Names",TNC)

In [35]:
mlb_attendance = mlb_attendance[['Team Names','Home attendance', 'Per Game']]
mlb_attendance

               Team Names  Home attendance  Per Game
0     Los Angeles Dodgers          3974309     49066
1     St. Louis Cardinals          3480393     42968
2        New York Yankees          3304404     40795
3            Chicago Cubs          3094865     38208
4      Los Angeles Angels          3023012     37321
5        Colorado Rockies          2993244     36954
6       Milwaukee Brewers          2923333     36091
7          Boston Red Sox          2915502     35994
8          Houston Astros          2857367     35276
9   Philadelphia Phillies          2727421     33672
10   San Francisco Giants          2707760     33429
11         Atlanta Braves          2654920     32777
12          New York Mets          2442532     30155
13       San Diego Padres          2396399     29585
14        Minnesota Twins          2303299     28436
15   Washington Nationals          2259781     27899
16   Arizona Diamondbacks          2135510     26364
17          Texas Rangers          2132994     26333
18        Cincinnati Reds          1809075     22334
19       Seattle Mariners          1791109     22112
20      Toronto Blue Jays          1750144     21607
21      Cleveland Indians          1738642     21465
22      Oakland Athletics          1670734     20626
23      Chicago White Sox          1649775     20622
24         Detroit Tigers          1501430     18536
25     Pittsburgh Pirates          1491439     18413
26     Kansas City Royals          1479659     18267
27      Baltimore Orioles          1307807     16146
28         Tampa Bay Rays          1178735     14552
29          Miami Marlins           811302     10016

In [37]:
import csv
mlb_table = pd.read_csv("mlb_attendance.csv")
# mlb_table = mlb_table[['Team Names','Home attendance', 'Per Game', 'Lat', 'Long']]
# mlb_table.drop(["Unnamed: 0"], axis = 1)
del mlb_table["Unnamed: 0"]
mlb_table.columns
# mlb_table
mlb_table

               Team_Names  Home_attendance  Per_Game        Lat        Long
0     Los Angeles Dodgers          3974309     49066  34.072437 -118.246879
1     St. Louis Cardinals          3480393     42968  38.629683  -90.188247
2        New York Yankees          3304404     40795  40.819782  -73.929939
3            Chicago Cubs          3094865     38208  41.947201  -87.656413
4      Los Angeles Angels          3023012     37321  33.799572 -117.889031
5        Colorado Rockies          2993244     36954  39.756980 -104.965329
6       Milwaukee Brewers          2923333     36091  43.042050  -87.905599
7          Boston Red Sox          2915502     35994  42.346613  -71.098817
8          Houston Astros          2857367     35276  29.760450  -95.369784
9   Philadelphia Phillies          2727421     33672  39.952313  -75.162392
10   San Francisco Giants          2707760     33429  37.779870 -122.389754
11         Atlanta Braves          2654920     32777  33.746910  -84.391239
12          New York Mets          2442532     30155  40.755350  -73.843219
13       San Diego Padres          2396399     29585  32.752148 -117.143635
14        Minnesota Twins          2303299     28436  44.974346  -93.259616
15   Washington Nationals          2259781     27899  38.870000  -77.010000
16   Arizona Diamondbacks          2135510     26364  33.452922 -112.038669
17          Texas Rangers          2132994     26333  32.750156  -97.081117
18        Cincinnati Reds          1809075     22334  39.107183  -84.507713
19       Seattle Mariners          1791109     22112  47.601740 -122.330829
20      Toronto Blue Jays          1750144     21607  43.641653  -79.391700
21      Cleveland Indians          1738642     21465  41.495149  -81.687090
22      Oakland Athletics          1670734     20626  37.749230 -122.196487
23      Chicago White Sox          1649775     20622  41.830883  -87.635083
24         Detroit Tigers          1501430     18536  42.346354  -83.059619
25     Pittsburgh Pirates          1491439     18413  40.461503  -80.008924
26     Kansas City Royals          1479659     18267  39.102220  -94.583559
27      Baltimore Orioles          1307807     16146  39.285243  -76.620103
28         Tampa Bay Rays          1178735     14552  27.768487  -82.648191
29          Miami Marlins           811302     10016  25.954428  -80.238164

### Export NFL and MLB data to SQLite

In [38]:
##Export DF to sqlite

## create engine
engine = create_engine('sqlite:///sports.db', echo = True)
sqlite_connection = engine.connect()

2020-10-18 19:54:50,539 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-10-18 19:54:50,540 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:50,541 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-10-18 19:54:50,543 INFO sqlalchemy.engine.base.Engine ()

In [39]:
#Set name of table to create
nfl_table = "nfl_attendance_clean"
nfl_attendance_clean.to_sql(nfl_table, sqlite_connection, if_exists = 'fail')

2020-10-18 19:54:50,571 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("nfl_attendance_clean")
2020-10-18 19:54:50,572 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:50,573 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("nfl_attendance_clean")
2020-10-18 19:54:50,574 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:50,577 INFO sqlalchemy.engine.base.Engine
CREATE TABLE nfl_attendance_clean (
	"index" BIGINT,
	team TEXT,
	total_attendance BIGINT,
	stadium_capacity TEXT,
	stadium TEXT,
	lat FLOAT,
	long FLOAT
)


2020-10-18 19:54:50,578 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:50,623 INFO sqlalchemy.engine.base.Engine COMMIT
2020-10-18 19:54:50,625 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_nfl_attendance_clean_index ON nfl_attendance_clean ("index")
2020-10-18 19:54:50,625 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:50,664 INFO sqlalchemy.engine.base.Engine COMMIT
2020-10-18 19:54:50,666 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-10-18 19:54:50,669 INFO sqlalchemy.engine.base.Engine INSERT INTO nfl_attendance_clean ("index", team, total_attendance, stadium_capacity, stadium, lat, long) VALUES (?, ?, ?, ?, ?, ?, ?)
2020-10-18 19:54:50,670 INFO sqlalchemy.engine.base.Engine ((0, 'Arizona Cardinals', 1018127, '63400', 'University of Phoenix Stadium', 33.5276247, -112.2625593), (1, 'Atlanta Falcons', 1119143, '71000', 'Mercedes Benz Stadium', 33.7554491, -84.40085119999999), (2, 'Baltimore Ravens', 1053383, '71008', 'M&T Bank Stadium', 39.2779876, -76.6227044), (3, 'Buffalo Bills', 1072899, '73967', 'New Era Field', 42.7737546, -78.7869723), (4, 'Carolina Panthers', 1102756, '73778', 'Bank of America Stadium', 35.2258108, -80.8528465), (5, 'Chicago Bears', 1045568, '61500', 'Soldier Field', 41.8623132, -87.6166884), (6, 'Cincinnati Bengals', 911289, '65515', 'Paul Brown Stadium', 39.0954576, -84.51605769999999), (7, 'Cleveland Browns', 1045441, '68000', 'FirstEnergy Stadium', 41.5060535, -81.6995481)  ... displaying 10 of 31 total bound parameter sets ...  (29, 'Tampa Bay Buccaneers', 999843, '69143', 'Raymond James Stadium', 27.9759, -82.5033), (30, 'Tennessee Titans', 1092094, '79000', 'Nissan Stadium', 36.1665, -86.7713))
2020-10-18 19:54:50,674 INFO sqlalchemy.engine.base.Engine COMMIT

## MLB SQL

In [40]:
#Establish MLB data as own table
mlb_data = "mlb_data"
mlb_table.to_sql(mlb_data, sqlite_connection, if_exists = 'fail')

2020-10-18 19:54:50,717 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("mlb_data")
2020-10-18 19:54:50,718 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:50,719 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("mlb_data")
2020-10-18 19:54:50,720 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:50,722 INFO sqlalchemy.engine.base.Engine
CREATE TABLE mlb_data (
	"index" BIGINT,
	"Team_Names" TEXT,
	"Home_attendance" BIGINT,
	"Per_Game" BIGINT,
	"Lat" FLOAT,
	"Long" FLOAT
)


2020-10-18 19:54:50,723 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:50,776 INFO sqlalchemy.engine.base.Engine COMMIT
2020-10-18 19:54:50,778 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_mlb_data_index ON mlb_data ("index")
2020-10-18 19:54:50,778 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:50,815 INFO sqlalchemy.engine.base.Engine COMMIT
2020-10-18 19:54:50,817 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-10-18 19:54:50,819 INFO sqlalchemy.engine.base.Engine INSERT INTO mlb_data ("index", "Team_Names", "Home_attendance", "Per_Game", "Lat", "Long") VALUES (?, ?, ?, ?, ?, ?)
2020-10-18 19:54:50,820 INFO sqlalchemy.engine.base.Engine ((0, 'Los Angeles Dodgers', 3974309, 49066, 34.072437, -118.246879), (1, 'St. Louis Cardinals', 3480393, 42968, 38.629683, -90.188247), (2, 'New York Yankees', 3304404, 40795, 40.819782000000004, -73.929939), (3, 'Chicago Cubs', 3094865, 38208, 41.947201, -87.656413), (4, 'Los Angeles Angels', 3023012, 37321, 33.799572, -117.889031), (5, 'Colorado Rockies', 2993244, 36954, 39.75698, -104.965329), (6, 'Milwaukee Brewers', 2923333, 36091, 43.04205, -87.905599), (7, 'Boston Red Sox', 2915502, 35994, 42.346613, -71.09881700000001)  ... displaying 10 of 30 total bound parameter sets ...  (28, 'Tampa Bay Rays', 1178735, 14552, 27.768487, -82.648191), (29, 'Miami Marlins', 811302, 10016, 25.954428, -80.238164))
2020-10-18 19:54:50,824 INFO sqlalchemy.engine.base.Engine COMMIT

In [41]:
engine.execute('select * from mlb_data limit 5;').fetchall()

2020-10-18 19:54:50,869 INFO sqlalchemy.engine.base.Engine select * from mlb_data limit 5;
2020-10-18 19:54:50,870 INFO sqlalchemy.engine.base.Engine ()

[(0, 'Los Angeles Dodgers', 3974309, 49066, 34.072437, -118.246879),
 (1, 'St. Louis Cardinals', 3480393, 42968, 38.629683, -90.188247),
 (2, 'New York Yankees', 3304404, 40795, 40.819782000000004, -73.929939),
 (3, 'Chicago Cubs', 3094865, 38208, 41.947201, -87.656413),
 (4, 'Los Angeles Angels', 3023012, 37321, 33.799572, -117.889031)]

In [42]:
#Putting primary key into MLB table
create_query_sql='create table mlb3 (\
id_num bigint primary key,\
Team_Names text,\
Home_attendance	 bigint,\
Per_Game text,\
Lat double,\
Long double\
);'
sqlite_connection.execute(create_query_sql)

2020-10-18 19:54:50,908 INFO sqlalchemy.engine.base.Engine create table mlb3 (id_num bigint primary key,Team_Names text,Home_attendance	 bigint,Per_Game text,Lat double,Long double);
2020-10-18 19:54:50,908 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:50,949 INFO sqlalchemy.engine.base.Engine COMMIT

In [43]:
sqlite_connection.execute('insert into mlb3 select * from mlb_data')

2020-10-18 19:54:50,969 INFO sqlalchemy.engine.base.Engine insert into mlb3 select * from mlb_data
2020-10-18 19:54:50,970 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:50,975 INFO sqlalchemy.engine.base.Engine COMMIT

In [44]:
#Make fetch happen, check work 
sqlite_connection.execute('select * from mlb3').fetchall()

2020-10-18 19:54:51,036 INFO sqlalchemy.engine.base.Engine select * from mlb3
2020-10-18 19:54:51,037 INFO sqlalchemy.engine.base.Engine ()

[(0, 'Los Angeles Dodgers', 3974309, '49066', 34.072437, -118.246879),
 (1, 'St. Louis Cardinals', 3480393, '42968', 38.629683, -90.188247),
 (2, 'New York Yankees', 3304404, '40795', 40.819782000000004, -73.929939),
 (3, 'Chicago Cubs', 3094865, '38208', 41.947201, -87.656413),
 (4, 'Los Angeles Angels', 3023012, '37321', 33.799572, -117.889031),
 (5, 'Colorado Rockies', 2993244, '36954', 39.75698, -104.965329),
 (6, 'Milwaukee Brewers', 2923333, '36091', 43.04205, -87.905599),
 (7, 'Boston Red Sox', 2915502, '35994', 42.346613, -71.09881700000001),
 (8, 'Houston Astros', 2857367, '35276', 29.76045, -95.369784),
 (9, 'Philadelphia Phillies', 2727421, '33672', 39.952313000000004, -75.16239200000001),
 (10, 'San Francisco Giants', 2707760, '33429', 37.77987, -122.38975400000001),
 (11, 'Atlanta Braves', 2654920, '32777', 33.74691, -84.391239),
 (12, 'New York Mets', 2442532, '30155', 40.75535, -73.84321899999999),
 (13, 'San Diego Padres', 2396399, '29585', 32.752148, -117.143635),
 (14, 'Minnesota Twins', 2303299, '28436', 44.974346000000004, -93.25961600000001),
 (15, 'Washington Nationals', 2259781, '27899', 38.87, -77.01),
 (16, 'Arizona Diamondbacks', 2135510, '26364', 33.452921999999994, -112.038669),
 (17, 'Texas Rangers', 2132994, '26333', 32.750156, -97.081117),
 (18, 'Cincinnati Reds', 1809075, '22334', 39.107183, -84.507713),
 (19, 'Seattle Mariners', 1791109, '22112', 47.60174, -122.33082900000001),
 (20, 'Toronto Blue Jays', 1750144, '21607', 43.641653000000005, -79.3917),
 (21, 'Cleveland Indians', 1738642, '21465', 41.495149, -81.68709),
 (22, 'Oakland Athletics', 1670734, '20626', 37.74923, -122.196487),
 (23, 'Chicago White Sox', 1649775, '20622', 41.830883, -87.635083),
 (24, 'Detroit Tigers', 1501430, '18536', 42.346354, -83.059619),
 (25, 'Pittsburgh Pirates', 1491439, '18413', 40.461503, -80.008924),
 (26, 'Kansas City Royals', 1479659, '18267', 39.10222, -94.583559),
 (27, 'Baltimore Orioles', 1307807, '16146', 39.285243, -76.620103),
 (28, 'Tampa Bay Rays', 1178735, '14552', 27.768487, -82.648191),
 (29, 'Miami Marlins', 811302, '10016', 25.954428, -80.238164)]

In [45]:
engine = create_engine('sqlite:///sports.db', echo = True)
sqlite_connection = engine.connect()

2020-10-18 19:54:51,071 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-10-18 19:54:51,072 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,073 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-10-18 19:54:51,074 INFO sqlalchemy.engine.base.Engine ()

In [46]:
engine.execute('select * from nfl_attendance_clean limit 5;').fetchall()

2020-10-18 19:54:51,105 INFO sqlalchemy.engine.base.Engine select * from nfl_attendance_clean limit 5;
2020-10-18 19:54:51,106 INFO sqlalchemy.engine.base.Engine ()

[(0, 'Arizona Cardinals', 1018127, '63400', 'University of Phoenix Stadium', 33.5276247, -112.2625593),
 (1, 'Atlanta Falcons', 1119143, '71000', 'Mercedes Benz Stadium', 33.7554491, -84.40085119999999),
 (2, 'Baltimore Ravens', 1053383, '71008', 'M&T Bank Stadium', 39.2779876, -76.6227044),
 (3, 'Buffalo Bills', 1072899, '73967', 'New Era Field', 42.7737546, -78.7869723),
 (4, 'Carolina Panthers', 1102756, '73778', 'Bank of America Stadium', 35.2258108, -80.8528465)]

In [47]:
Base=automap_base()
Base.prepare(sqlite_connection, reflect=True)
Base.classes.keys()

2020-10-18 19:54:51,138 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-10-18 19:54:51,139 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,140 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("mlb3")
2020-10-18 19:54:51,141 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,143 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'mlb3' AND type = 'table'
2020-10-18 19:54:51,144 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,146 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("mlb3")
2020-10-18 19:54:51,147 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,149 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("mlb3")
2020-10-18 19:54:51,150 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,151 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'mlb3' AND type = 'table'
2020-10-18 19:54:51,151 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,154 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("mlb3")
2020-10-18 19:54:51,155 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,156 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("mlb3")
2020-10-18 19:54:51,157 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,158 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("sqlite_autoindex_mlb3_1")
2020-10-18 19:54:51,159 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,161 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'mlb3' AND type = 'table'
2020-10-18 19:54:51,162 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,165 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("mlb_data")
2020-10-18 19:54:51,166 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,168 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'mlb_data' AND type = 'table'
2020-10-18 19:54:51,169 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,170 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("mlb_data")
2020-10-18 19:54:51,172 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,172 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("mlb_data")
2020-10-18 19:54:51,173 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,174 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'mlb_data' AND type = 'table'
2020-10-18 19:54:51,174 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,175 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("mlb_data")
2020-10-18 19:54:51,176 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,178 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_mlb_data_index")
2020-10-18 19:54:51,178 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,180 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("mlb_data")
2020-10-18 19:54:51,180 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,182 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_mlb_data_index")
2020-10-18 19:54:51,182 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,183 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'mlb_data' AND type = 'table'
2020-10-18 19:54:51,184 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,186 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("nba_data")
2020-10-18 19:54:51,186 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,188 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'nba_data' AND type = 'table'
2020-10-18 19:54:51,189 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,190 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("nba_data")
2020-10-18 19:54:51,191 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,192 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("nba_data")
2020-10-18 19:54:51,192 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,193 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'nba_data' AND type = 'table'
2020-10-18 19:54:51,194 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,195 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("nba_data")
2020-10-18 19:54:51,196 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,197 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("nba_data")
2020-10-18 19:54:51,198 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,198 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("nba_data")
2020-10-18 19:54:51,199 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,200 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("nba_data")
2020-10-18 19:54:51,201 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,202 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'nba_data' AND type = 'table'
2020-10-18 19:54:51,202 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,204 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("nba_table")
2020-10-18 19:54:51,204 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,206 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'nba_table' AND type = 'table'
2020-10-18 19:54:51,207 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,209 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("nba_table")
2020-10-18 19:54:51,209 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,214 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("nba_table")
2020-10-18 19:54:51,215 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,216 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'nba_table' AND type = 'table'
2020-10-18 19:54:51,217 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,218 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("nba_table")
2020-10-18 19:54:51,219 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,220 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("nba_table")
2020-10-18 19:54:51,221 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,222 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("sqlite_autoindex_nba_table_1")
2020-10-18 19:54:51,223 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,224 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'nba_table' AND type = 'table'
2020-10-18 19:54:51,225 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,227 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("nfl_attendance_clean")
2020-10-18 19:54:51,228 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,230 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'nfl_attendance_clean' AND type = 'table'
2020-10-18 19:54:51,231 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,232 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("nfl_attendance_clean")
2020-10-18 19:54:51,233 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,234 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("nfl_attendance_clean")
2020-10-18 19:54:51,235 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,236 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'nfl_attendance_clean' AND type = 'table'
2020-10-18 19:54:51,236 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,237 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("nfl_attendance_clean")
2020-10-18 19:54:51,238 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,249 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_nfl_attendance_clean_index")
2020-10-18 19:54:51,265 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,266 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("nfl_attendance_clean")
2020-10-18 19:54:51,267 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,269 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_nfl_attendance_clean_index")
2020-10-18 19:54:51,270 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,273 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'nfl_attendance_clean' AND type = 'table'
2020-10-18 19:54:51,280 INFO sqlalchemy.engine.base.Engine ()

['mlb3', 'nba_table']

In [48]:
sqlite_connection.execute('pragma table_info(nfl_attendance_clean);').fetchall()

2020-10-18 19:54:51,303 INFO sqlalchemy.engine.base.Engine pragma table_info(nfl_attendance_clean);
2020-10-18 19:54:51,304 INFO sqlalchemy.engine.base.Engine ()

[(0, 'index', 'BIGINT', 0, None, 0),
 (1, 'team', 'TEXT', 0, None, 0),
 (2, 'total_attendance', 'BIGINT', 0, None, 0),
 (3, 'stadium_capacity', 'TEXT', 0, None, 0),
 (4, 'stadium', 'TEXT', 0, None, 0),
 (5, 'lat', 'FLOAT', 0, None, 0),
 (6, 'long', 'FLOAT', 0, None, 0)]

In [49]:
create_query_sql='create table nfl (\
id_num bigint primary key,\
team text,\
total_attendance bigint,\
stadium_capacity text,\
stadium text,\
lat double,\
long double\
);'
sqlite_connection.execute(create_query_sql)

2020-10-18 19:54:51,338 INFO sqlalchemy.engine.base.Engine create table nfl (id_num bigint primary key,team text,total_attendance bigint,stadium_capacity text,stadium text,lat double,long double);
2020-10-18 19:54:51,339 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,396 INFO sqlalchemy.engine.base.Engine COMMIT

In [50]:
Base=automap_base()
Base.prepare(sqlite_connection, reflect=True)
Base.classes.keys()

2020-10-18 19:54:51,409 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-10-18 19:54:51,410 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,412 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("mlb3")
2020-10-18 19:54:51,413 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,414 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'mlb3' AND type = 'table'
2020-10-18 19:54:51,415 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,417 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("mlb3")
2020-10-18 19:54:51,418 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,419 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("mlb3")
2020-10-18 19:54:51,420 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,420 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'mlb3' AND type = 'table'
2020-10-18 19:54:51,421 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,422 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("mlb3")
2020-10-18 19:54:51,422 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,424 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("mlb3")
2020-10-18 19:54:51,424 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,425 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("sqlite_autoindex_mlb3_1")
2020-10-18 19:54:51,426 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,428 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'mlb3' AND type = 'table'
2020-10-18 19:54:51,429 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,430 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("mlb_data")
2020-10-18 19:54:51,430 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,432 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'mlb_data' AND type = 'table'
2020-10-18 19:54:51,433 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,434 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("mlb_data")
2020-10-18 19:54:51,435 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,436 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("mlb_data")
2020-10-18 19:54:51,437 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,438 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'mlb_data' AND type = 'table'
2020-10-18 19:54:51,438 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,439 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("mlb_data")
2020-10-18 19:54:51,440 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,441 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_mlb_data_index")
2020-10-18 19:54:51,442 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,443 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("mlb_data")
2020-10-18 19:54:51,444 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,445 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_mlb_data_index")
2020-10-18 19:54:51,446 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,447 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'mlb_data' AND type = 'table'
2020-10-18 19:54:51,448 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,449 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("nba_data")
2020-10-18 19:54:51,450 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,452 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'nba_data' AND type = 'table'
2020-10-18 19:54:51,453 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,454 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("nba_data")
2020-10-18 19:54:51,455 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,456 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("nba_data")
2020-10-18 19:54:51,457 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,457 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'nba_data' AND type = 'table'
2020-10-18 19:54:51,458 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,459 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("nba_data")
2020-10-18 19:54:51,460 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,461 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("nba_data")
2020-10-18 19:54:51,461 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,462 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("nba_data")
2020-10-18 19:54:51,463 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,464 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("nba_data")
2020-10-18 19:54:51,464 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,465 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'nba_data' AND type = 'table'
2020-10-18 19:54:51,466 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,467 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("nba_table")
2020-10-18 19:54:51,468 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,470 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'nba_table' AND type = 'table'
2020-10-18 19:54:51,471 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,473 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("nba_table")
2020-10-18 19:54:51,473 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,474 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("nba_table")
2020-10-18 19:54:51,475 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,475 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'nba_table' AND type = 'table'
2020-10-18 19:54:51,476 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,477 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("nba_table")
2020-10-18 19:54:51,478 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,479 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("nba_table")
2020-10-18 19:54:51,480 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,481 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("sqlite_autoindex_nba_table_1")
2020-10-18 19:54:51,481 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,482 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'nba_table' AND type = 'table'
2020-10-18 19:54:51,483 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,484 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("nfl")
2020-10-18 19:54:51,485 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,487 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'nfl' AND type = 'table'
2020-10-18 19:54:51,488 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,489 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("nfl")
2020-10-18 19:54:51,490 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,491 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("nfl")
2020-10-18 19:54:51,491 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,492 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'nfl' AND type = 'table'
2020-10-18 19:54:51,493 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,495 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("nfl")
2020-10-18 19:54:51,496 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,497 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("nfl")
2020-10-18 19:54:51,498 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,499 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("sqlite_autoindex_nfl_1")
2020-10-18 19:54:51,500 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,501 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'nfl' AND type = 'table'
2020-10-18 19:54:51,502 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,504 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("nfl_attendance_clean")
2020-10-18 19:54:51,504 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,507 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'nfl_attendance_clean' AND type = 'table'
2020-10-18 19:54:51,508 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,509 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("nfl_attendance_clean")
2020-10-18 19:54:51,510 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,511 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("nfl_attendance_clean")
2020-10-18 19:54:51,511 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,512 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'nfl_attendance_clean' AND type = 'table'
2020-10-18 19:54:51,513 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,514 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("nfl_attendance_clean")
2020-10-18 19:54:51,515 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,516 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_nfl_attendance_clean_index")
2020-10-18 19:54:51,516 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,517 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("nfl_attendance_clean")
2020-10-18 19:54:51,518 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,519 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_nfl_attendance_clean_index")
2020-10-18 19:54:51,520 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 19:54:51,521 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'nfl_attendance_clean' AND type = 'table'
2020-10-18 19:54:51,522 INFO sqlalchemy.engine.base.Engine ()

['mlb3', 'nba_table', 'nfl']

In [51]:
# sqlite_connection.execute('insert into nfl select * from nfl_attendance_clean')
sqlite_connection.execute('select * from nfl').fetchall()

2020-10-18 19:54:51,562 INFO sqlalchemy.engine.base.Engine select * from nfl
2020-10-18 19:54:51,563 INFO sqlalchemy.engine.base.Engine ()

[]

In [52]:
##Data is now cleaned and extracted & put into its own df. 
nfl_attendance.to_csv("nfl.csv")