In [25]:
#Dependencies 
import pandas as pd 
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import requests
import json
import time
import csv

In [26]:
# File to Load
import csv
load_file = "nfl_ticket_prices.csv"
nfl_ticket_prices = pd.read_csv(load_file, encoding= 'UTF-8')
nfl_ticket_prices.head()

,team,av_tic_price,stadium,lat,long
0,Arizona Cardinals,$120.00,University of Phoenix Stadium,33.5276,-112.2630
1,Atlanta Falcons,$162.00,Mercedes Benz Stadium,33.7554,-84.4009
2,Baltimore Ravens,$167.00,M&T Bank Stadium,39.2780,-76.6227
3,Buffalo Bills,$126.00,New Era Field,42.7738,-78.7870
4,Carolina Panthers,$139.00,Bank of America Stadium,35.2258,-80.8528

In [27]:
## create engine
engine = create_engine('sqlite:///sports.db', echo = True)
sqlite_connection = engine.connect()

2020-10-18 14:32:46,242 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-10-18 14:32:46,244 INFO sqlalchemy.engine.base.Engine ()
2020-10-18 14:32:46,246 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-10-18 14:32:46,247 INFO sqlalchemy.engine.base.Engine ()

In [28]:
#Set name of table to create
nfl_tickets = "nfl_tic_prices"
nfl_tickets.to_sql(nfl_tickets, sqlite_connection, if_exists = 'fail')

AttributeError: 'str' object has no attribute 'to_sql'