In [1]:
#Dependencies 
import pandas as pd 
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from api_keys import g_key
import requests
import json
import time
from bs4 import BeautifulSoup as bs

In [2]:
s = requests.Session()
url = "https://en.wikipedia.org/wiki/2019_Major_League_Baseball_season"

In [3]:
response = s.get(url, timeout=10)
response

In [4]:
soup = bs(response.text, 'html.parser')

In [5]:
# response.text

In [6]:
# # testing scraping
title = soup.find(id="firstHeading")
print(title.string)

2019 Major League Baseball season

In [7]:
attendance_table = soup.find('table', {'class': 'wikitable sortable'})
# attendance_table()

In [8]:
# text_items = attendance_table.findAll(text=True)
# no_footnotes = [text for text in text_items if text[0] != '[']
# puretext = ''.join(no_footnotes)
# puretext

In [9]:
# # row_headers = attendance_table.findAll(lambda tag: tag.name=='th')
# row_headers

In [10]:
# # header = [string.rstrip() for th in rows[0].find_all('th')]
# full_table = attendance_table.findAll(lambda tag: tag.name=='tr')
# print(full_table)
# # print(soup.get_text())

In [11]:
# c1=[]
# c2=[]
# c3=[]
# c4=[]
# c5=[]
# c6=[]
# c7=[]
# c8=[]

In [12]:


# for row in attendance_table.findAll("tr"):
#     cells = row.findAll('td')
#     if len(cells)==7:
#         c1.append([0])
#         c2.append([1])
#         c3.append([2])
#         c4.append([3])
#         c5.append([4])
#         c6.append([5])
#         c7.append([6])
                  
# print(row)

In [13]:
url

'https://en.wikipedia.org/wiki/2019_Major_League_Baseball_season'

In [14]:
table=soup.find('table', class_='sortable')
table_rows=table.findAll('tr')
all_data=[]
for each_row in table_rows: 
    try: 
        all_data.append(each_row.findAll('td').text)
    except: 
        pass
all_data

[]

In [15]:
# table

In [16]:
# table.findall('tbody')

In [17]:
# import pandas as pd
tables=pd.read_html(url)
for idx, each_table in enumerate(tables): 
    print(idx)
    print(each_table.columns)

0
Index(['2019 MLB season', '2019 MLB season.1'], dtype='object')
1
Int64Index([0, 1, 2, 3, 4, 5, 6], dtype='int64')
2
Index(['vteAL East', 'W', 'L', 'Pct.', 'GB', 'Home', 'Road'], dtype='object')
3
Index(['vteAL Central', 'W', 'L', 'Pct.', 'GB', 'Home', 'Road'], dtype='object')
4
Index(['vteAL West', 'W', 'L', 'Pct.', 'GB', 'Home', 'Road'], dtype='object')
5
Index(['vteNL East', 'W', 'L', 'Pct.', 'GB', 'Home', 'Road'], dtype='object')
6
Index(['vteNL Central', 'W', 'L', 'Pct.', 'GB', 'Home', 'Road'], dtype='object')
7
Index(['vteNL West', 'W', 'L', 'Pct.', 'GB', 'Home', 'Road'], dtype='object')
8
Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
            19],
           dtype='int64')
9
Index(['Team', 'Former GM', 'Reason for leaving', 'New GM', 'Notes'], dtype='object')
10
Index(['Date', 'Team', 'Former GM', 'Reason for leaving', 'New GM', 'Notes'], dtype='object')
11
Index(['Team', 'Former manager', 'Interim manager', 'Reason for leaving',
       'New Manager', 'Notes'],
      dtype='object')
12
Index(['Team', 'Former manager', 'Interim manager', 'Reason for leaving',
       'New manager', 'Notes'],
      dtype='object')
13
Int64Index([0, 1, 2], dtype='int64')
14
Index(['Stat', 'Player', 'Total'], dtype='object')
15
Index(['Stat', 'Player', 'Total'], dtype='object')
16
Int64Index([0, 1, 2], dtype='int64')
17
Index(['Stat', 'Player', 'Total'], dtype='object')
18
Index(['Stat', 'Player', 'Total'], dtype='object')
19
MultiIndex([('Baseball Writers' Association of America Awards', ...),
            ('Baseball Writers' Association of America Awards', ...),
            ('Baseball Writers' Association of America Awards', ...),
            ('Baseball Writers' Association of America Awards', ...),
            ('Baseball Writers' Association of America Awards', ...),
            ('Baseball Writers' Association of America Awards', ...),
            ('Baseball Writers' Association of America Awards', ...),
            ('Baseball Writers' Association of America Awards', ...),
            ('Baseball Writers' Association of America Awards', ...)],
           )
20
MultiIndex([('All-MLB First Team',           'Position'),
            ('All-MLB First Team',      'Player (Team)'),
            ('All-MLB First Team', 'Unnamed: 2_level_1'),
            ('All-MLB First Team', 'Unnamed: 3_level_1'),
            ('All-MLB First Team', 'Unnamed: 4_level_1'),
            ('All-MLB First Team', 'Unnamed: 5_level_1'),
            ('All-MLB First Team', 'Unnamed: 6_level_1'),
            ('All-MLB First Team', 'Unnamed: 7_level_1'),
            ('All-MLB First Team', 'Unnamed: 8_level_1')],
           )
21
MultiIndex([('Fielding Bible Awards',           'Position'),
            ('Fielding Bible Awards',             'Player'),
            ('Fielding Bible Awards', 'Unnamed: 2_level_1'),
            ('Fielding Bible Awards', 'Unnamed: 3_level_1'),
            ('Fielding Bible Awards', 'Unnamed: 4_level_1'),
            ('Fielding Bible Awards', 'Unnamed: 5_level_1'),
            ('Fielding Bible Awards', 'Unnamed: 6_level_1'),
            ('Fielding Bible Awards', 'Unnamed: 7_level_1'),
            ('Fielding Bible Awards', 'Unnamed: 8_level_1')],
           )
22
Int64Index([0, 1, 2], dtype='int64')
23
Index(['Month', 'American League', 'National League'], dtype='object')
24
Index(['Month', 'American League', 'National League'], dtype='object')
25
Index(['Month', 'American League', 'National League'], dtype='object')
26
Index(['Team Name', 'Wins', '%±', 'Home attendance', '%±.1', 'Per Game',
       'Est. Payroll', '%±.2'],
      dtype='object')
27
Index(['Team', 'Special occasion'], dtype='object')
28
Int64Index([0, 1], dtype='int64')
29
Index(['vte2019 MLB season by team', 'vte2019 MLB season by team.1'], dtype='object')
30
Int64Index([0, 1], dtype='int64')
31
Int64Index([0, 1], dtype='int64')
32
Int64Index([0, 1], dtype='int64')
33
Index(['vteMajor League Baseball seasons', 'vteMajor League Baseball seasons.1'], dtype='object')
34
Int64Index([0, 1], dtype='int64')
35
Int64Index([0, 1], dtype='int64')
36
Index(['vte2019 Major League Baseball postseason', 'vte2019 Major League Baseball postseason.1'], dtype='object')

In [23]:
mlb_attendance = tables[26]

In [24]:
mlb_attendance = pd.DataFrame(mlb_attendance)
TNC = mlb_attendance["Team Name"].str[:-5]
TNC

0       Los Angeles Dodgers
1       St. Louis Cardinals
2          New York Yankees
3              Chicago Cubs
4        Los Angeles Angels
5          Colorado Rockies
6         Milwaukee Brewers
7            Boston Red Sox
8            Houston Astros
9     Philadelphia Phillies
10     San Francisco Giants
11           Atlanta Braves
12            New York Mets
13         San Diego Padres
14          Minnesota Twins
15     Washington Nationals
16     Arizona Diamondbacks
17            Texas Rangers
18          Cincinnati Reds
19         Seattle Mariners
20        Toronto Blue Jays
21        Cleveland Indians
22        Oakland Athletics
23        Chicago White Sox
24           Detroit Tigers
25       Pittsburgh Pirates
26       Kansas City Royals
27        Baltimore Orioles
28           Tampa Bay Rays
29            Miami Marlins
Name: Team Name, dtype: object

In [25]:
mlb_attendance.insert(0,"Team Names",TNC)

In [26]:
mlb_attendance = mlb_attendance[['Team Names','Home attendance', 'Per Game']]
mlb_attendance

               Team Names  Home attendance  Per Game
0     Los Angeles Dodgers          3974309     49066
1     St. Louis Cardinals          3480393     42968
2        New York Yankees          3304404     40795
3            Chicago Cubs          3094865     38208
4      Los Angeles Angels          3023012     37321
5        Colorado Rockies          2993244     36954
6       Milwaukee Brewers          2923333     36091
7          Boston Red Sox          2915502     35994
8          Houston Astros          2857367     35276
9   Philadelphia Phillies          2727421     33672
10   San Francisco Giants          2707760     33429
11         Atlanta Braves          2654920     32777
12          New York Mets          2442532     30155
13       San Diego Padres          2396399     29585
14        Minnesota Twins          2303299     28436
15   Washington Nationals          2259781     27899
16   Arizona Diamondbacks          2135510     26364
17          Texas Rangers          2132994     26333
18        Cincinnati Reds          1809075     22334
19       Seattle Mariners          1791109     22112
20      Toronto Blue Jays          1750144     21607
21      Cleveland Indians          1738642     21465
22      Oakland Athletics          1670734     20626
23      Chicago White Sox          1649775     20622
24         Detroit Tigers          1501430     18536
25     Pittsburgh Pirates          1491439     18413
26     Kansas City Royals          1479659     18267
27      Baltimore Orioles          1307807     16146
28         Tampa Bay Rays          1178735     14552
29          Miami Marlins           811302     10016

In [20]:
# d['Team Name'] = c1
# d['Wins'] = c2
# d['Percent change'] = c3
# d['Home attendance'] = c4
# d['Average Home Attendance Per Game'] = c5
# d['Est. Payroll'] = c6

In [21]:
# print(d)

In [27]:
# mlb_attendance = pd.DataFrame(mlb_attendance)
# mlb_attendance

In [227]:
# # mlb_attendance_clean = mlb_attendance.insert(team_names)
# # mlb_attendance["Team Name"] = team_names
# mlb_attendance

In [113]:
import csv
mlb_table = pd.read_csv("mlb_attendance.csv")
# mlb_table = mlb_table[['Team Names','Home attendance', 'Per Game', 'Lat', 'Long']]
# mlb_table.drop(["Unnamed: 0"], axis = 1)
del mlb_table["Unnamed: 0"]
mlb_table.columns
# mlb_table
mlb_table

               Team_Names  Home_attendance  Per_Game        Lat        Long
0     Los Angeles Dodgers          3974309     49066  34.072437 -118.246879
1     St. Louis Cardinals          3480393     42968  38.629683  -90.188247
2        New York Yankees          3304404     40795  40.819782  -73.929939
3            Chicago Cubs          3094865     38208  41.947201  -87.656413
4      Los Angeles Angels          3023012     37321  33.799572 -117.889031
5        Colorado Rockies          2993244     36954  39.756980 -104.965329
6       Milwaukee Brewers          2923333     36091  43.042050  -87.905599
7          Boston Red Sox          2915502     35994  42.346613  -71.098817
8          Houston Astros          2857367     35276  29.760450  -95.369784
9   Philadelphia Phillies          2727421     33672  39.952313  -75.162392
10   San Francisco Giants          2707760     33429  37.779870 -122.389754
11         Atlanta Braves          2654920     32777  33.746910  -84.391239
12          New York Mets          2442532     30155  40.755350  -73.843219
13       San Diego Padres          2396399     29585  32.752148 -117.143635
14        Minnesota Twins          2303299     28436  44.974346  -93.259616
15   Washington Nationals          2259781     27899  38.870000  -77.010000
16   Arizona Diamondbacks          2135510     26364  33.452922 -112.038669
17          Texas Rangers          2132994     26333  32.750156  -97.081117
18        Cincinnati Reds          1809075     22334  39.107183  -84.507713
19       Seattle Mariners          1791109     22112  47.601740 -122.330829
20      Toronto Blue Jays          1750144     21607  43.641653  -79.391700
21      Cleveland Indians          1738642     21465  41.495149  -81.687090
22      Oakland Athletics          1670734     20626  37.749230 -122.196487
23      Chicago White Sox          1649775     20622  41.830883  -87.635083
24         Detroit Tigers          1501430     18536  42.346354  -83.059619
25     Pittsburgh Pirates          1491439     18413  40.461503  -80.008924
26     Kansas City Royals          1479659     18267  39.102220  -94.583559
27      Baltimore Orioles          1307807     16146  39.285243  -76.620103
28         Tampa Bay Rays          1178735     14552  27.768487  -82.648191
29          Miami Marlins           811302     10016  25.954428  -80.238164

In [114]:
engine = create_engine('sqlite:///sports.db', echo = True)
sqlite_connection = engine.connect()

2020-10-17 12:53:41,784 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-10-17 12:53:41,785 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:53:41,786 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-10-17 12:53:41,787 INFO sqlalchemy.engine.base.Engine ()

In [115]:
mlb_data = "mlb_data"
mlb_table.to_sql(mlb_data, sqlite_connection, if_exists = 'fail')

2020-10-17 12:53:48,338 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("mlb_data")
2020-10-17 12:53:48,339 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:53:48,341 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("mlb_data")
2020-10-17 12:53:48,341 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:53:48,344 INFO sqlalchemy.engine.base.Engine
CREATE TABLE mlb_data (
	"index" BIGINT,
	"Team_Names" TEXT,
	"Home_attendance" BIGINT,
	"Per_Game" BIGINT,
	"Lat" FLOAT,
	"Long" FLOAT
)


2020-10-17 12:53:48,345 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:53:48,382 INFO sqlalchemy.engine.base.Engine COMMIT
2020-10-17 12:53:48,383 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_mlb_data_index ON mlb_data ("index")
2020-10-17 12:53:48,384 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:53:48,403 INFO sqlalchemy.engine.base.Engine COMMIT
2020-10-17 12:53:48,406 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-10-17 12:53:48,409 INFO sqlalchemy.engine.base.Engine INSERT INTO mlb_data ("index", "Team_Names", "Home_attendance", "Per_Game", "Lat", "Long") VALUES (?, ?, ?, ?, ?, ?)
2020-10-17 12:53:48,412 INFO sqlalchemy.engine.base.Engine ((0, 'Los Angeles Dodgers', 3974309, 49066, 34.072437, -118.246879), (1, 'St. Louis Cardinals', 3480393, 42968, 38.629683, -90.188247), (2, 'New York Yankees', 3304404, 40795, 40.819782000000004, -73.929939), (3, 'Chicago Cubs', 3094865, 38208, 41.947201, -87.656413), (4, 'Los Angeles Angels', 3023012, 37321, 33.799572, -117.889031), (5, 'Colorado Rockies', 2993244, 36954, 39.75698, -104.965329), (6, 'Milwaukee Brewers', 2923333, 36091, 43.04205, -87.905599), (7, 'Boston Red Sox', 2915502, 35994, 42.346613, -71.09881700000001)  ... displaying 10 of 30 total bound parameter sets ...  (28, 'Tampa Bay Rays', 1178735, 14552, 27.768487, -82.648191), (29, 'Miami Marlins', 811302, 10016, 25.954428, -80.238164))
2020-10-17 12:53:48,416 INFO sqlalchemy.engine.base.Engine COMMIT

In [116]:
engine = create_engine('sqlite:///sports.db', echo = True)
sqlite_connection = engine.connect()

2020-10-17 12:53:53,663 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-10-17 12:53:53,664 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:53:53,666 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-10-17 12:53:53,667 INFO sqlalchemy.engine.base.Engine ()

In [117]:
engine.execute('select * from mlb_data limit 5;').fetchall()

2020-10-17 12:53:58,002 INFO sqlalchemy.engine.base.Engine select * from mlb_data limit 5;
2020-10-17 12:53:58,003 INFO sqlalchemy.engine.base.Engine ()

[(0, 'Los Angeles Dodgers', 3974309, 49066, 34.072437, -118.246879),
 (1, 'St. Louis Cardinals', 3480393, 42968, 38.629683, -90.188247),
 (2, 'New York Yankees', 3304404, 40795, 40.819782000000004, -73.929939),
 (3, 'Chicago Cubs', 3094865, 38208, 41.947201, -87.656413),
 (4, 'Los Angeles Angels', 3023012, 37321, 33.799572, -117.889031)]

In [92]:
Base.metadata.drop_all(engine)

2020-10-17 12:19:12,289 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("mlb")
2020-10-17 12:19:12,290 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:19:12,292 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("mlb_data")
2020-10-17 12:19:12,293 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:19:12,295 INFO sqlalchemy.engine.base.Engine
DROP TABLE mlb_data
2020-10-17 12:19:12,297 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:19:12,336 INFO sqlalchemy.engine.base.Engine COMMIT
2020-10-17 12:19:12,337 INFO sqlalchemy.engine.base.Engine
DROP TABLE mlb
2020-10-17 12:19:12,338 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:19:12,352 INFO sqlalchemy.engine.base.Engine COMMIT

In [123]:
# sql = text('DROP TABLE IF EXISTS mlb;')
# result = engine.execute(sql)
# mycursor.execute(drop)
create_query_sql='create table mlb3 (\
id_num bigint primary key,\
Team_Names text,\
Home_attendance	 bigint,\
Per_Game text,\
Lat double,\
Long double\
);'
sqlite_connection.execute(create_query_sql)

2020-10-17 12:54:49,718 INFO sqlalchemy.engine.base.Engine create table mlb3 (id_num bigint primary key,Team_Names text,Home_attendance	 bigint,Per_Game text,Lat double,Long double);
2020-10-17 12:54:49,719 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:54:49,761 INFO sqlalchemy.engine.base.Engine COMMIT

In [124]:

Base=automap_base()
Base.prepare(sqlite_connection, reflect=True)
Base.classes.keys()

2020-10-17 12:54:52,871 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-10-17 12:54:52,872 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:54:52,873 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("mlb1")
2020-10-17 12:54:52,874 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:54:52,877 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'mlb1' AND type = 'table'
2020-10-17 12:54:52,878 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:54:52,880 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("mlb1")
2020-10-17 12:54:52,880 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:54:52,881 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("mlb1")
2020-10-17 12:54:52,882 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:54:52,883 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'mlb1' AND type = 'table'
2020-10-17 12:54:52,884 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:54:52,889 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("mlb1")
2020-10-17 12:54:52,890 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:54:52,891 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("mlb1")
2020-10-17 12:54:52,892 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:54:52,894 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("sqlite_autoindex_mlb1_1")
2020-10-17 12:54:52,895 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:54:52,896 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'mlb1' AND type = 'table'
2020-10-17 12:54:52,896 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:54:52,898 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("mlb2")
2020-10-17 12:54:52,899 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:54:52,905 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'mlb2' AND type = 'table'
2020-10-17 12:54:52,906 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:54:52,908 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("mlb2")
2020-10-17 12:54:52,908 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:54:52,909 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("mlb2")
2020-10-17 12:54:52,910 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:54:52,911 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'mlb2' AND type = 'table'
2020-10-17 12:54:52,912 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:54:52,914 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("mlb2")
2020-10-17 12:54:52,915 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:54:52,916 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("mlb2")
2020-10-17 12:54:52,917 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:54:52,918 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("sqlite_autoindex_mlb2_1")
2020-10-17 12:54:52,919 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:54:52,921 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'mlb2' AND type = 'table'
2020-10-17 12:54:52,922 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:54:52,924 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("mlb3")
2020-10-17 12:54:52,924 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:54:52,927 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'mlb3' AND type = 'table'
2020-10-17 12:54:52,931 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:54:52,934 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("mlb3")
2020-10-17 12:54:52,935 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:54:52,936 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("mlb3")
2020-10-17 12:54:52,937 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:54:52,938 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'mlb3' AND type = 'table'
2020-10-17 12:54:52,938 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:54:52,940 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("mlb3")
2020-10-17 12:54:52,940 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:54:52,942 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("mlb3")
2020-10-17 12:54:52,943 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:54:52,944 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("sqlite_autoindex_mlb3_1")
2020-10-17 12:54:52,945 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:54:52,947 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'mlb3' AND type = 'table'
2020-10-17 12:54:52,948 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:54:52,950 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("mlb_data")
2020-10-17 12:54:52,951 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:54:52,954 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'mlb_data' AND type = 'table'
2020-10-17 12:54:52,955 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:54:52,956 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("mlb_data")
2020-10-17 12:54:52,957 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:54:52,959 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("mlb_data")
2020-10-17 12:54:52,959 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:54:52,960 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'mlb_data' AND type = 'table'
2020-10-17 12:54:52,962 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:54:52,963 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("mlb_data")
2020-10-17 12:54:52,964 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:54:52,965 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_mlb_data_index")
2020-10-17 12:54:52,966 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:54:52,967 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("mlb_data")
2020-10-17 12:54:52,968 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:54:52,969 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_mlb_data_index")
2020-10-17 12:54:52,970 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:54:52,971 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'mlb_data' AND type = 'table'
2020-10-17 12:54:52,971 INFO sqlalchemy.engine.base.Engine ()

['mlb1', 'mlb2', 'mlb3']

In [126]:
sqlite_connection.execute('insert into mlb3 select * from mlb_data')

2020-10-17 12:54:58,688 INFO sqlalchemy.engine.base.Engine insert into mlb3 select * from mlb_data
2020-10-17 12:54:58,689 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 12:54:58,701 INFO sqlalchemy.engine.base.Engine COMMIT

In [128]:
sqlite_connection.execute('select * from mlb3').fetchall()

2020-10-17 12:55:26,131 INFO sqlalchemy.engine.base.Engine select * from mlb3
2020-10-17 12:55:26,132 INFO sqlalchemy.engine.base.Engine ()

[(0, 'Los Angeles Dodgers', 3974309, '49066', 34.072437, -118.246879),
 (1, 'St. Louis Cardinals', 3480393, '42968', 38.629683, -90.188247),
 (2, 'New York Yankees', 3304404, '40795', 40.819782000000004, -73.929939),
 (3, 'Chicago Cubs', 3094865, '38208', 41.947201, -87.656413),
 (4, 'Los Angeles Angels', 3023012, '37321', 33.799572, -117.889031),
 (5, 'Colorado Rockies', 2993244, '36954', 39.75698, -104.965329),
 (6, 'Milwaukee Brewers', 2923333, '36091', 43.04205, -87.905599),
 (7, 'Boston Red Sox', 2915502, '35994', 42.346613, -71.09881700000001),
 (8, 'Houston Astros', 2857367, '35276', 29.76045, -95.369784),
 (9, 'Philadelphia Phillies', 2727421, '33672', 39.952313000000004, -75.16239200000001),
 (10, 'San Francisco Giants', 2707760, '33429', 37.77987, -122.38975400000001),
 (11, 'Atlanta Braves', 2654920, '32777', 33.74691, -84.391239),
 (12, 'New York Mets', 2442532, '30155', 40.75535, -73.84321899999999),
 (13, 'San Diego Padres', 2396399, '29585', 32.752148, -117.143635),
 (14, 'Minnesota Twins', 2303299, '28436', 44.974346000000004, -93.25961600000001),
 (15, 'Washington Nationals', 2259781, '27899', 38.87, -77.01),
 (16, 'Arizona Diamondbacks', 2135510, '26364', 33.452921999999994, -112.038669),
 (17, 'Texas Rangers', 2132994, '26333', 32.750156, -97.081117),
 (18, 'Cincinnati Reds', 1809075, '22334', 39.107183, -84.507713),
 (19, 'Seattle Mariners', 1791109, '22112', 47.60174, -122.33082900000001),
 (20, 'Toronto Blue Jays', 1750144, '21607', 43.641653000000005, -79.3917),
 (21, 'Cleveland Indians', 1738642, '21465', 41.495149, -81.68709),
 (22, 'Oakland Athletics', 1670734, '20626', 37.74923, -122.196487),
 (23, 'Chicago White Sox', 1649775, '20622', 41.830883, -87.635083),
 (24, 'Detroit Tigers', 1501430, '18536', 42.346354, -83.059619),
 (25, 'Pittsburgh Pirates', 1491439, '18413', 40.461503, -80.008924),
 (26, 'Kansas City Royals', 1479659, '18267', 39.10222, -94.583559),
 (27, 'Baltimore Orioles', 1307807, '16146', 39.285243, -76.620103),
 (28, 'Tampa Bay Rays', 1178735, '14552', 27.768487, -82.648191),
 (29, 'Miami Marlins', 811302, '10016', 25.954428, -80.238164)]