In [21]:
#Dependencies 
import pandas as pd 
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import wikipedia
import requests
from bs4 import BeautifulSoup as bs

In [40]:
s = requests.Session()
url = "https://en.wikipedia.org/wiki/2019_Major_League_Baseball_season"

In [23]:
response = s.get(url, timeout=10)
response

In [41]:
soup = bs(response.text, 'html.parser')

In [80]:
# response.text

In [42]:
# # testing scraping
title = soup.find(id="firstHeading")
print(title.string)

2019 Major League Baseball season

In [43]:
attendance_table = soup.find('table', {'class': 'wikitable sortable'})
# attendance_table()

In [85]:
# # row_headers = attendance_table.findAll(lambda tag: tag.name=='th')
# row_headers

In [84]:
# # header = [string.rstrip() for th in rows[0].find_all('th')]
# full_table = attendance_table.findAll(lambda tag: tag.name=='tr')
# print(full_table)
# # print(soup.get_text())

In [83]:
# c1=[]
# c2=[]
# c3=[]
# c4=[]
# c5=[]
# c6=[]
# c7=[]
# c8=[]

In [82]:


# for row in attendance_table.findAll("tr"):
#     cells = row.findAll('td')
#     if len(cells)==7:
#         c1.append([0])
#         c2.append([1])
#         c3.append([2])
#         c4.append([3])
#         c5.append([4])
#         c6.append([5])
#         c7.append([6])
                  
# print(row)

In [58]:
url

'https://en.wikipedia.org/wiki/2019_Major_League_Baseball_season'

In [77]:
# table=soup.find('table', class_='sortable')
# table_rows=table.findAll('tr')
# all_data=[]
# for each_row in table_rows: 
#     try: 
#         all_data.append(each_row.findAll('td').text)
#     except: 
#         pass
# all_data

In [78]:
# table

In [79]:
# table.findall('tbody')

In [87]:
# import pandas as pd
tables=pd.read_html(url)
for idx, each_table in enumerate(tables): 
    print(idx)
    print(each_table.columns)

0
Index(['2019 MLB season', '2019 MLB season.1'], dtype='object')
1
Int64Index([0, 1, 2, 3, 4, 5, 6], dtype='int64')
2
Index(['vteAL East', 'W', 'L', 'Pct.', 'GB', 'Home', 'Road'], dtype='object')
3
Index(['vteAL Central', 'W', 'L', 'Pct.', 'GB', 'Home', 'Road'], dtype='object')
4
Index(['vteAL West', 'W', 'L', 'Pct.', 'GB', 'Home', 'Road'], dtype='object')
5
Index(['vteNL East', 'W', 'L', 'Pct.', 'GB', 'Home', 'Road'], dtype='object')
6
Index(['vteNL Central', 'W', 'L', 'Pct.', 'GB', 'Home', 'Road'], dtype='object')
7
Index(['vteNL West', 'W', 'L', 'Pct.', 'GB', 'Home', 'Road'], dtype='object')
8
Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
            19],
           dtype='int64')
9
Index(['Team', 'Former GM', 'Reason for leaving', 'New GM', 'Notes'], dtype='object')
10
Index(['Date', 'Team', 'Former GM', 'Reason for leaving', 'New GM', 'Notes'], dtype='object')
11
Index(['Team', 'Former manager', 'Interim manager', 'Reason for leaving',
       'New Manager', 'Notes'],
      dtype='object')
12
Index(['Team', 'Former manager', 'Interim manager', 'Reason for leaving',
       'New manager', 'Notes'],
      dtype='object')
13
Int64Index([0, 1, 2], dtype='int64')
14
Index(['Stat', 'Player', 'Total'], dtype='object')
15
Index(['Stat', 'Player', 'Total'], dtype='object')
16
Int64Index([0, 1, 2], dtype='int64')
17
Index(['Stat', 'Player', 'Total'], dtype='object')
18
Index(['Stat', 'Player', 'Total'], dtype='object')
19
MultiIndex([('Baseball Writers' Association of America Awards', ...),
            ('Baseball Writers' Association of America Awards', ...),
            ('Baseball Writers' Association of America Awards', ...),
            ('Baseball Writers' Association of America Awards', ...),
            ('Baseball Writers' Association of America Awards', ...),
            ('Baseball Writers' Association of America Awards', ...),
            ('Baseball Writers' Association of America Awards', ...),
            ('Baseball Writers' Association of America Awards', ...),
            ('Baseball Writers' Association of America Awards', ...)],
           )
20
MultiIndex([('All-MLB First Team',           'Position'),
            ('All-MLB First Team',      'Player (Team)'),
            ('All-MLB First Team', 'Unnamed: 2_level_1'),
            ('All-MLB First Team', 'Unnamed: 3_level_1'),
            ('All-MLB First Team', 'Unnamed: 4_level_1'),
            ('All-MLB First Team', 'Unnamed: 5_level_1'),
            ('All-MLB First Team', 'Unnamed: 6_level_1'),
            ('All-MLB First Team', 'Unnamed: 7_level_1'),
            ('All-MLB First Team', 'Unnamed: 8_level_1')],
           )
21
MultiIndex([('Fielding Bible Awards',           'Position'),
            ('Fielding Bible Awards',             'Player'),
            ('Fielding Bible Awards', 'Unnamed: 2_level_1'),
            ('Fielding Bible Awards', 'Unnamed: 3_level_1'),
            ('Fielding Bible Awards', 'Unnamed: 4_level_1'),
            ('Fielding Bible Awards', 'Unnamed: 5_level_1'),
            ('Fielding Bible Awards', 'Unnamed: 6_level_1'),
            ('Fielding Bible Awards', 'Unnamed: 7_level_1'),
            ('Fielding Bible Awards', 'Unnamed: 8_level_1')],
           )
22
Int64Index([0, 1, 2], dtype='int64')
23
Index(['Month', 'American League', 'National League'], dtype='object')
24
Index(['Month', 'American League', 'National League'], dtype='object')
25
Index(['Month', 'American League', 'National League'], dtype='object')
26
Index(['Team Name', 'Wins', '%±', 'Home attendance', '%±.1', 'Per Game',
       'Est. Payroll', '%±.2'],
      dtype='object')
27
Index(['Team', 'Special occasion'], dtype='object')
28
Int64Index([0, 1], dtype='int64')
29
Index(['vte2019 MLB season by team', 'vte2019 MLB season by team.1'], dtype='object')
30
Int64Index([0, 1], dtype='int64')
31
Int64Index([0, 1], dtype='int64')
32
Int64Index([0, 1], dtype='int64')
33
Index(['vteMajor League Baseball seasons', 'vteMajor League Baseball seasons.1'], dtype='object')
34
Int64Index([0, 1], dtype='int64')
35
Int64Index([0, 1], dtype='int64')
36
Index(['vte2019 Major League Baseball postseason', 'vte2019 Major League Baseball postseason.1'], dtype='object')

In [88]:
mlb_attendance = tables[26]

In [72]:
# d = dict([(x,0) for x in full_table])
# d

In [73]:
# d['Team Name'] = c1
# d['Wins'] = c2
# d['Percent change'] = c3
# d['Home attendance'] = c4
# d['Average Home Attendance Per Game'] = c5
# d['Est. Payroll'] = c6

In [74]:
# print(d)

In [75]:
# df_table = pd.DataFrame(d)
# df_table.head(5)

In [89]:
mlb_attendance

,Team Name,Wins,%±,Home attendance,%±.1,Per Game,Est. Payroll,%±.2
0,Los Angeles Dodgers[178],106,15.2%,3974309,3.0%,49066,"$193,553,333",17.5%
1,St. Louis Cardinals[179],91,3.4%,3480393,2.3%,42968,"$161,120,267",2.2%
2,New York Yankees[180],103,3.0%,3304404,-5.1%,40795,"$228,442,421",42.1%
3,Chicago Cubs[181],84,-11.6%,3094865,-2.7%,38208,"$217,805,215",6.1%
4,Los Angeles Angels[182],72,-10.0%,3023012,0.1%,37321,"$177,345,250",6.3%
5,Colorado Rockies[183],71,-22.0%,2993244,-0.8%,36954,"$145,348,500",6.4%
6,Milwaukee Brewers[184],89,-7.3%,2923333,2.5%,36091,"$128,842,900",17.9%
7,Boston Red Sox[185],84,-22.2%,2915502,0.7%,35994,"$218,978,142",-1.5%
8,Houston Astros[186],107,3.9%,2857367,-4.1%,35276,"$166,042,500",-3.9%
9,Philadelphia Phillies[187],81,1.3%,2727421,26.4%,33672,"$141,786,962",51.0%
10,San Francisco Giants[188],77,5.5%,2707760,-14.2%,33429,"$175,550,753",-13.1%
11,Atlanta Braves[189],97,7.8%,2654920,3.9%,32777,"$133,186,667",15.0%
12,New York Mets[190],86,11.7%,2442532,9.8%,30155,"$154,837,230",-4.1%
13,San Diego Padres[191],70,6.1%,2396399,10.5%,29585,"$90,260,767",-3.8%
14,Minnesota Twins[192],101,29.5%,2303299,17.6%,28436,"$113,758,333",3.2%
15,Washington Nationals[193],93,13.4%,2259781,-10.7%,27899,"$203,016,595",7.5%
16,Arizona Diamondbacks[194],85,3.7%,2135510,-4.8%,26364,"$124,016,266",-8.0%
17,Texas Rangers[195],78,16.4%,2132994,1.2%,26333,"$104,433,499",-1.6%
18,Cincinnati Reds[196],75,11.9%,1809075,11.0%,22334,"$109,737,499",16.0%
19,Seattle Mariners[197],68,-23.6%,1791109,-22.1%,22112,"$126,874,600",-19.2%
20,Toronto Blue Jays[198],67,-8.2%,1750144,-24.7%,21607,"$64,680,671",-57.4%
21,Cleveland Indians[199],93,2.2%,1738642,-9.8%,21465,"$151,257,783",5.5%
22,Oakland Athletics[200],97,0.0%,1670734,6.2%,20626,"$102,935,833",47.3%
23,Chicago White Sox[201],72,16.1%,1649775,2.5%,20622,"$80,846,333",7.7%
24,Detroit Tigers[202],47,-26.6%,1501430,-19.1%,18536,"$100,618,500",-9.8%
25,Pittsburgh Pirates[203],69,-15.9%,1491439,1.8%,18413,"$72,915,501",-17.3%
26,Kansas City Royals[204],59,1.7%,1479659,-11.1%,18267,"$98,183,242",3.1%
27,Baltimore Orioles[205],54,14.9%,1307807,-16.4%,16146,"$82,696,100",-41.6%
28,Tampa Bay Rays[206],96,6.7%,1178735,2.1%,14552,"$56,071,767",21.9%
29,Miami Marlins[207],57,-9.5%,811302,0.0%,10016,"$74,683,643",-13.7%